@if (isEdit) {
<app-content-header
    [pageTitle]="'label.detail' | translate"
    [breadcrumbs]="breadcrumbsDetail"
></app-content-header>
} @else {
<app-content-header
    [pageTitle]="'label.create' | translate"
    [breadcrumbs]="breadcrumbsCreate"
></app-content-header>
}
<div class="card" id="demand-detail">
    <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="onSave()">
            <div class="action-box">
                <div class="btns-box">
                    <button
                        (click)="onCreateNew()"
                        class="btn btn-primary"
                        type="button"
                    >
                        <i class="mr-2 fa-solid fa-plus"></i
                        >{{ "label.new_request" | translate }}
                    </button>
                    <button class="btn btn-primary" type="submit">
                        <i class="mr-2 fa fa-save"></i
                        >{{ "label.save" | translate }}
                    </button>
                    <button class="btn btn-primary" type="button">
                        <i class="mr-2 fa-solid fa-arrow-right-arrow-left"></i>
                        {{ "label.forward" | translate }}
                    </button>
                    <button
                        class="btn btn-primary"
                        type="button"
                        (click)="onGoBack()"
                    >
                        <i class="mr-2 fa-solid fa-xmark"></i
                        >{{ "label.close" | translate }}
                    </button>
                </div>
            </div>
            <!-- /.action -->
            @if (Lib.isValidArrayData(validator.errors)) {
            <div class="row">
                <div class="col-12">
                    <app-form-errors
                        [errors]="validator.errors"
                    ></app-form-errors>
                </div>
            </div>
            }
            <div class="table-responsive">
                <table class="table table-bordered table-form table-header">
                    <tbody>
                        <tr>
                            <td class="w-110 label-cell bg-dark-blue">
                                {{ "label.control_number" | translate }}
                            </td>
                            <td class="w-110 bg-bady-blue">
                                {{ demandInfo?.id }}
                            </td>
                            <td class="label-cell bg-dark-blue">
                                {{ "label.office" | translate }}
                            </td>
                            <td class="bg-bady-blue">
                                {{ demandInfo?.office_name }}
                            </td>
                            <td class="label-cell bg-dark-blue">
                                {{ "label.status" | translate }}
                            </td>
                            <td class="bg-bady-blue w-130">
                                {{ getStatusName(demandInfo?.status) }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.header table -->
            <div class="table-responsive">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td rowspan="2" class="bg-blue w-110">
                                {{ "label.common" | translate }}
                            </td>
                            <td class="label-cell bg-dark-blue">
                                {{ "label.demand_management_period" | translate }}
                            </td>
                            <td colspan="2">
                                <ng-select
                                    [bindLabel]="'name'"
                                    [bindValue]="'id'"
                                    [notFoundText]="
                                        'message.no_data' | translate
                                    "
                                    [typeToSearchText]="
                                        'label.type_to_search' | translate
                                    "
                                    [appendTo]="'#demand-detail'"
                                    [clearable]="false"></ng-select>
                            </td>
                        </tr>
                        <tr>
                            <td class="label-cell bg-dark-blue">
                                {{ "label.form" | translate }}
                            </td>
                            <td class="bg-bady-blue w-250">
                            </td>
                            <td class="bg-bady-blue">
                            </td>
                        </tr>

                    </tbody>
                </table>
                <!-- /.table -->
            </div>

            <div class="table-responsive">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td colspan="2" rowspan="2"></td>
                            <td colspan="4" class="bg-dark-blue">
                                {{'label.previous_day' | translate}}
                            </td>
                            <td colspan="2" class="bg-dark-blue">
                                {{'label.today' | translate}}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <div class="date-picker-group m-0">
                                    <input
                                        class="form-control control-date-picker input-group-text"
                                        placeholder="YYYY/MM/DD"
                                        [readonly]="true"
                                        name="start_date"
                                        maxlength="10"
                                        (click)="previousDate.toggle()"
                                        ngbDatepicker
                                        #previousDate="ngbDatepicker"
                                    />
                                    <div
                                        class="input-group-append cursor-pointer"
                                        (click)="previousDate.toggle()"
                                    >
                                        <span class="input-group-text"
                                            ><i class="fa fa-calendar"></i
                                        ></span>
                                    </div>
                                </div>
                            </td>
                            <td colspan="2">
                                <div class="date-picker-group m-0">
                                    <input
                                        class="form-control control-date-picker input-group-text"
                                        placeholder="YYYY/MM/DD"
                                        [readonly]="true"
                                        name="start_date"
                                        maxlength="10"
                                        (click)="today.toggle()"
                                        ngbDatepicker
                                        #today="ngbDatepicker"
                                    />
                                    <div
                                        class="input-group-append cursor-pointer"
                                        (click)="today.toggle()"
                                    >
                                        <span class="input-group-text"
                                            ><i class="fa fa-calendar"></i
                                        ></span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="bg-blue">
                                {{'label.demand_prediction_curve_confirmation_results' | translate}}
                            </td>
                            <td colspan="4">

                            </td>
                            <td colspan="2">
                                <ng-select
                                    [bindLabel]="'name'"
                                    [bindValue]="'id'"
                                    [notFoundText]="
                                        'message.no_data' | translate
                                    "
                                    [typeToSearchText]="
                                        'label.type_to_search' | translate
                                    "
                                    [appendTo]="'#demand-detail'"
                                    [clearable]="false"></ng-select>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="bg-midnight-blue">
                                {{'label.demand_management_items' | translate}}
                            </td>
                            <td class="bg-dark-blue">
                                {{'label.reference_value' | translate}}
                            </td>
                            <td colspan="3" class="bg-dark-blue text-center">
                                {{'label.actual_performance_surplus_capacity' | translate}}
                            </td>
                            <td colspan="2" class="bg-dark-blue text-center">
                                {{'label.prediction_reserve_capacity' | translate}}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" rowspan="2" class="bg-dark-blue">
                                {{'label.contract_power' | translate}}
                            </td>
                            <td class="bg-bady-blue text-right">
                                {{'label.kw' | translate}}
                            </td>
                            <td class="bg-bady-blue text-right">
                                {{'label.kw' | translate}}
                            </td>
                            <td class="bg-bady-blue text-right">
                                %
                            </td>
                            <td class="bg-bady-blue" rowspan="2">

                            </td>
                            <td class="bg-bady-blue text-right">
                                {{'label.kw' | translate}}
                            </td>
                            <td class="bg-bady-blue text-right">
                                %
                            </td>
                        </tr>
                        <tr>
                            <td class="bg-bady-blue text-center">-</td>
                            <td colspan="2">
                                <div class="d-flex justify-content-between">
                                    <span>{{'label.number_of_times_the_standard_value_was_exceeded' | translate}}</span>
                                    <span>{{'label.times' | translate}}</span>
                                </div>
                            </td>
                            <td colspan="2" class="bg-bady-blue text-center">-</td>
                        </tr>
                        <tr>
                            <td colspan="2" rowspan="2" class="bg-dark-blue">
                                {{'label.target_demand' | translate}}
                            </td>
                            <td class="bg-bady-blue text-right">
                                {{'label.kw' | translate}}
                            </td>
                            <td class="bg-bady-blue text-right">
                                {{'label.kw' | translate}}
                            </td>
                            <td class="bg-bady-blue text-right">
                                %
                            </td>
                            <td class="bg-bady-blue" rowspan="2">

                            </td>
                            <td class="bg-bady-blue text-right">
                                {{'label.kw' | translate}}
                            </td>
                            <td class="bg-bady-blue text-right">
                                %
                            </td>
                        </tr>
                        <tr>
                            <td class="bg-bady-blue text-center">-</td>
                            <td colspan="2">
                                <div class="d-flex justify-content-between">
                                    <span>{{'label.number_of_times_the_standard_value_was_exceeded' | translate}}</span>
                                    <span>{{'label.times' | translate}}</span>
                                </div>
                            </td>
                            <td colspan="2" class="bg-bady-blue text-center">-</td>
                        </tr>


                        <tr>
                            <td colspan="2" rowspan="2" class="bg-midnight-blue">
                                {{'label.demand_suppression_effect' | translate}}
                            </td>
                            <td rowspan="2" class="bg-dark-blue">
                                {{'label.plan' | translate}}
                            </td>
                            <td rowspan="2" class="bg-dark-blue border-right-0">
                                {{'label.actual_performance' | translate}}
                            </td>
                            <td colspan="2" class="bg-dark-blue border-left-0"></td>
                            <td rowspan="2" class="bg-dark-blue border-right-0">
                                {{'label.prediction' | translate}}
                            </td>
                            <td class="bg-dark-blue border-left-0"></td>
                        </tr>
                        <tr>
                            <td colspan="2" class="bg-dark-blue">
                                {{'label.time' | translate}}
                            </td>
                            <td class="bg-dark-blue">
                                {{'label.time' | translate}}
                            </td>
                        </tr>
                        <tr>
                            <td rowspan="2" class="bg-dark-blue w-110">
                                {{'label.maximum_demand' | translate}}
                            </td>
                            <td class="bg-dark-blue w-70">
                                {{'label.before_suppression' | translate}}
                            </td>
                            <td class="bg-bady-blue text-right">
                                {{'label.kw' | translate}}
                            </td>
                            <td class="bg-bady-blue text-center">-</td>
                            <td colspan="2" class="bg-bady-blue"></td>
                            <td>
                                <div class="d-flex justify-content-end align-items-center">
                                    <input type="text" class="form-control text-right w-100">
                                    <span class="ml-2 flex-shrink-0">{{'label.kw' | translate}}</span>
                                </div>
                            </td>
                            <td>
                                <input type="text" class="form-control full-width">
                            </td>
                        </tr>
                        <tr>
                            <td class="bg-dark-blue">
                                {{'label.after_suppression' | translate}}
                            </td>
                            <td class="bg-bady-blue text-right">
                                {{'label.kw' | translate}}
                            </td>
                            <td class="bg-bady-blue text-right">
                                {{'label.kw' | translate}}
                            </td>
                            <td colspan="2" class="bg-bady-blue text-center">-</td>
                            <td>
                                <div class="d-flex justify-content-end align-items-center">
                                    <input type="text" class="form-control text-right w-100">
                                    <span class="ml-2 flex-shrink-0">{{'label.kw' | translate}}</span>
                                </div>
                            </td>
                            <td>
                                <input type="text" class="form-control full-width">
                            </td>
                        </tr>
                        <tr>
                            <td rowspan="2" colspan="2" class="bg-dark-blue">
                                {{'label.suppression_effect' | translate}}
                            </td>
                            <td class="bg-bady-blue text-right">
                                {{'label.kw' | translate}}
                            </td>
                            <td class="bg-bady-blue text-right">
                                {{'label.kw' | translate}}
                            </td>
                            <td rowspan="2" colspan="2" class="bg-bady-blue text-center">-</td>
                            <td class="bg-bady-blue text-right">
                                {{'label.kw' | translate}}
                            </td>
                            <td rowspan="2" colspan="2" class="bg-bady-blue text-center">-</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="bg-bady-blue">
                                <div class="d-flex justify-content-between">
                                    <span>{{'label.prediction_difference' | translate}}</span>
                                    <span>{{'label.kw' | translate}}</span>
                                </div>
                            </td>
                            <td class="bg-bady-blue text-center">-</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="table-responsive">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td class="bg-midnight-blue w-110">
                                {{'label.demand_suppression_measures' | translate}}
                            </td>
                            <td class="bg-dark-blue">
                                {{'label.plan' | translate}}
                            </td>
                            <td class="bg-dark-blue">
                                {{'label.actual_performance' | translate}}
                            </td>
                            <td class="bg-dark-blue">
                                {{'label.plan' | translate}}
                            </td>
                        </tr>
                        <tr>
                            <td class="bg-dark-blue" >
                                {{'label.1_base_measures' | translate}}
                            </td>
                            <td></td>
                            <td>
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td class="bg-dark-blue" >
                                {{'label.2_demand_response_measures' | translate}}
                            </td>
                            <td></td>
                            <td>
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td class="bg-dark-blue" >
                                {{'label.3_emergency_response_measures' | translate}}
                            </td>
                            <td></td>
                            <td>
                            </td>
                            <td>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="table-responsive">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td rowspan="3" class="bg-midnight-blue w-110">
                                {{'label.weather_information' | translate}}
                            </td>
                            <td rowspan="3" class="bg-dark-blue minw-200">
                                {{'label.time' | translate}}
                            </td>
                            <td colspan="8" class="bg-dark-blue text-center">
                                {{'label.previous_day' | translate}}
                            </td>
                            <td colspan="4" class="bg-dark-blue text-center">
                                {{'label.today' | translate}}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" class="bg-dark-blue text-center">
                                {{'label.forecast' | translate}}
                            </td>
                            <td colspan="4" class="bg-dark-blue text-center">
                                {{'label.actual_performance' | translate}}
                            </td>
                            <td colspan="4" class="bg-dark-blue text-center">
                                {{'label.forecast' | translate}}
                            </td>
                        </tr>
                        <tr>
                            <td class="bg-dark-blue w-100">
                                {{'label.weather' | translate}}
                            </td>
                            <td class="bg-dark-blue w-100">
                                {{'label.temperature' | translate}}
                            </td>
                            <td class="bg-dark-blue w-100">
                                {{'label.humidity' | translate}}
                            </td>
                            <td class="bg-dark-blue w-100">
                                {{'label.wet_bulb_temperature' | translate}}
                            </td>
                            <td class="bg-dark-blue w-150">
                                {{'label.weather' | translate}}
                            </td>
                            <td class="bg-dark-blue w-100">
                                {{'label.temperature' | translate}}
                            </td>
                            <td class="bg-dark-blue w-100">
                                {{'label.humidity' | translate}}
                            </td>
                            <td class="bg-dark-blue w-100">
                                {{'label.wet_bulb_temperature' | translate}}
                            </td>
                            <td class="bg-dark-blue w-150">
                                {{'label.weather' | translate}}
                            </td>
                            <td class="bg-dark-blue w-100">
                                {{'label.temperature' | translate}}
                            </td>
                            <td class="bg-dark-blue w-100">
                                {{'label.humidity' | translate}}
                            </td>
                            <td class="bg-dark-blue w-100">
                                {{'label.wet_bulb_temperature' | translate}}
                            </td>
                        </tr>
                        <tr>
                            <td rowspan="2" class="bg-dark-blue">
                                {{'label.weather_at_each_time' | translate}}
                            </td>
                            <td></td>
                            <td class="bg-bady-blue"></td>
                            <td class="bg-bady-blue text-right"></td>
                            <td class="bg-bady-blue text-right"></td>
                            <td class="bg-bady-blue text-right"></td>
                            <td>
                                <ng-select
                                    [bindLabel]="'name'"
                                    [bindValue]="'id'"
                                    [notFoundText]="
                                        'message.no_data' | translate
                                    "
                                    [typeToSearchText]="
                                        'label.type_to_search' | translate
                                    "
                                    [appendTo]="'#demand-detail'"
                                    [clearable]="false"></ng-select>
                            </td>
                            <td>
                                <input type="text" class="form-control text-right full-width">
                            </td>
                            <td>
                                <input type="text" class="form-control text-right full-width">
                            </td>
                            <td>
                                <input type="text" class="form-control text-right full-width">
                            </td>
                            <td>
                                <ng-select
                                    [bindLabel]="'name'"
                                    [bindValue]="'id'"
                                    [notFoundText]="
                                        'message.no_data' | translate
                                    "
                                    [typeToSearchText]="
                                        'label.type_to_search' | translate
                                    "
                                    [appendTo]="'#demand-detail'"
                                    [clearable]="false"></ng-select>
                            </td>
                            <td>
                                <input type="text" class="form-control text-right full-width">
                            </td>
                            <td>
                                <input type="text" class="form-control text-right full-width">
                            </td>
                            <td>
                                <input type="text" class="form-control text-right full-width">
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="bg-bady-blue"></td>
                            <td class="bg-bady-blue"></td>
                            <td class="bg-bady-blue"></td>
                            <td class="bg-bady-blue"></td>
                            <td>
                                <ng-select
                                    [bindLabel]="'name'"
                                    [bindValue]="'id'"
                                    [notFoundText]="
                                        'message.no_data' | translate
                                    "
                                    [typeToSearchText]="
                                        'label.type_to_search' | translate
                                    "
                                    [appendTo]="'#demand-detail'"
                                    [clearable]="false"></ng-select>
                            </td>
                            <td>
                                <input type="text" class="form-control text-right full-width">
                            </td>
                            <td>
                                <input type="text" class="form-control text-right full-width">
                            </td>
                            <td>
                                <input type="text" class="form-control text-right full-width">
                            </td>
                            <td>
                                <ng-select
                                    [bindLabel]="'name'"
                                    [bindValue]="'id'"
                                    [notFoundText]="
                                        'message.no_data' | translate
                                    "
                                    [typeToSearchText]="
                                        'label.type_to_search' | translate
                                    "
                                    [appendTo]="'#demand-detail'"
                                    [clearable]="false"></ng-select>
                            </td>
                            <td>
                                <input type="text" class="form-control text-right full-width">
                            </td>
                            <td>
                                <input type="text" class="form-control text-right full-width">
                            </td>
                            <td>
                                <input type="text" class="form-control text-right full-width">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="table-responsive">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td rowspan="18" class="bg-midnight-blue w-110">
                                {{'label.demand_suppression_measures_detail' | translate}}
                            </td>
                            <td rowspan="5" colspan="2" class="bg-dark-blue label-cell border-bottom-0">
                                {{'label.1_base_measures' | translate}}
                            </td>
                            <td rowspan="3" class="bg-dark-blue w-50">
                                {{'label.no' | translate}}
                            </td>
                            <td colspan="2" rowspan="2" class="bg-dark-blue border-bottom-0">
                                {{'label.measures_details' | translate}}
                            </td>
                            <td colspan="4" class="bg-dark-blue text-center">
                                {{'label.previous_day' | translate}}
                            </td>
                            <td colspan="2" class="bg-dark-blue text-center">
                                {{'label.today' | translate}}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="bg-dark-blue text-center">
                                {{'label.plan' | translate}}
                            </td>
                            <td colspan="2" class="bg-dark-blue text-center">
                                {{'label.actual_performance' | translate}}
                            </td>
                            <td colspan="2" class="bg-dark-blue text-center">
                                {{'label.prediction' | translate}}
                            </td>
                        </tr>
                        <tr>
                            <td class="bg-dark-blue minw-150 border-top-0"></td>
                            <td class="bg-dark-blue w-90">
                                {{'label.reduced_power' | translate}}
                            </td>
                            <td class="bg-dark-blue w-90">
                                {{'label.reduced_power' | translate}}
                            </td>
                            <td class="bg-dark-blue w-100">
                                {{'label.operating_hours' | translate}}
                            </td>
                            <td class="bg-dark-blue w-200">
                                {{'label.reduced_power' | translate}}
                            </td>
                            <td class="bg-dark-blue w-200">
                                {{'label.operating_hours' | translate}}
                            </td>
                            <td class="bg-dark-blue w-200">
                                {{'label.reduced_power' | translate}}
                            </td>
                            <td class="bg-dark-blue w-200">
                                {{'label.operating_hours' | translate}}
                            </td>
                        </tr>
                        <tr>
                            <td class="bg-bady-blue">1</td>
                            <td class="bg-bady-blue">***</td>
                            <td class="bg-bady-blue text-right">
                                {{'label.kw' | translate}}
                            </td>
                            <td class="bg-bady-blue text-right">
                                {{'label.kw' | translate}}
                            </td>
                            <td class="bg-bady-blue"></td>
                            <td>
                                <div class="d-flex justify-content-end align-items-center">
                                    <input type="text" class="form-control full-width">
                                    <span class="ml-2 flex-shrink-0">{{'label.kw' | translate}}</span>
                                </div>
                            </td>
                            <td>
                                <input type="text" class="form-control full-width">
                            </td>
                            <td>
                                <div class="d-flex justify-content-end align-items-center">
                                    <input type="text" class="form-control full-width">
                                    <span class="ml-2 flex-shrink-0">{{'label.kw' | translate}}</span>
                                </div>
                            </td>
                            <td>
                                <input type="text" class="form-control full-width">
                            </td>
                        </tr>
                        <tr>
                            <td class="bg-bady-blue">2</td>
                            <td class="bg-bady-blue">***</td>
                            <td class="bg-bady-blue text-right">
                                {{'label.kw' | translate}}
                            </td>
                            <td class="bg-bady-blue text-right">
                                {{'label.kw' | translate}}
                            </td>
                            <td class="bg-bady-blue"></td>
                            <td>
                                <div class="d-flex justify-content-end align-items-center">
                                    <input type="text" class="form-control full-width">
                                    <span class="ml-2 flex-shrink-0">{{'label.kw' | translate}}</span>
                                </div>
                            </td>
                            <td>
                                <input type="text" class="form-control full-width">
                            </td>
                            <td>
                                <div class="d-flex justify-content-end align-items-center">
                                    <input type="text" class="form-control full-width">
                                    <span class="ml-2 flex-shrink-0">{{'label.kw' | translate}}</span>
                                </div>
                            </td>
                            <td>
                                <input type="text" class="form-control full-width">
                            </td>
                        </tr>
                        <tr>
                            <td class="bg-dark-blue border-top-0 w-110"></td>
                            <td class="bg-dark-blue label-cell">
                                {{'label.total' | translate}}
                            </td>
                            <td class="bg-bady-blue"></td>
                            <td class="bg-bady-blue"></td>
                            <td class="bg-bady-blue"></td>
                            <td class="bg-bady-blue"></td>
                            <td class="bg-bady-blue"></td>
                            <td class="bg-bady-blue"></td>
                            <td class="bg-bady-blue"></td>
                            <td class="bg-bady-blue"></td>
                            <td class="bg-bady-blue"></td>
                        </tr>

                        <tr>
                            <td rowspan="5" colspan="2" class="bg-dark-blue label-cell border-bottom-0">
                                {{'label.2_demand_response_measures' | translate}}
                            </td>
                            <td rowspan="3" class="bg-dark-blue">
                                {{'label.no' | translate}}
                            </td>
                            <td colspan="2" rowspan="2" class="bg-dark-blue border-bottom-0">
                                {{'label.measures_details' | translate}}
                            </td>
                            <td colspan="4" class="bg-dark-blue text-center">
                                {{'label.previous_day' | translate}}
                            </td>
                            <td colspan="2" class="bg-dark-blue text-center">
                                {{'label.today' | translate}}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="bg-dark-blue text-center">
                                {{'label.plan' | translate}}
                            </td>
                            <td colspan="2" class="bg-dark-blue text-center">
                                {{'label.actual_performance' | translate}}
                            </td>
                            <td colspan="2" class="bg-dark-blue text-center">
                                {{'label.prediction' | translate}}
                            </td>
                        </tr>
                        <tr>
                            <td class="bg-dark-blue border-top-0"></td>
                            <td class="bg-dark-blue">
                                {{'label.reduced_power' | translate}}
                            </td>
                            <td class="bg-dark-blue">
                                {{'label.reduced_power' | translate}}
                            </td>
                            <td class="bg-dark-blue">
                                {{'label.operating_hours' | translate}}
                            </td>
                            <td class="bg-dark-blue">
                                {{'label.reduced_power' | translate}}
                            </td>
                            <td class="bg-dark-blue">
                                {{'label.operating_hours' | translate}}
                            </td>
                            <td class="bg-dark-blue">
                                {{'label.reduced_power' | translate}}
                            </td>
                            <td class="bg-dark-blue">
                                {{'label.operating_hours' | translate}}
                            </td>
                        </tr>
                        <tr>
                            <td class="bg-bady-blue">1</td>
                            <td class="bg-bady-blue">***</td>
                            <td class="bg-bady-blue text-right">
                                {{'label.kw' | translate}}
                            </td>
                            <td class="bg-bady-blue text-right">
                                {{'label.kw' | translate}}
                            </td>
                            <td class="bg-bady-blue"></td>
                            <td>
                                <div class="d-flex justify-content-end align-items-center">
                                    <input type="text" class="form-control full-width">
                                    <span class="ml-2 flex-shrink-0">{{'label.kw' | translate}}</span>
                                </div>
                            </td>
                            <td>
                                <input type="text" class="form-control full-width">
                            </td>
                            <td>
                                <div class="d-flex justify-content-end align-items-center">
                                    <input type="text" class="form-control full-width">
                                    <span class="ml-2 flex-shrink-0">{{'label.kw' | translate}}</span>
                                </div>
                            </td>
                            <td>
                                <input type="text" class="form-control full-width">
                            </td>
                        </tr>
                        <tr>
                            <td class="bg-bady-blue">2</td>
                            <td class="bg-bady-blue">***</td>
                            <td class="bg-bady-blue text-right">
                                {{'label.kw' | translate}}
                            </td>
                            <td class="bg-bady-blue text-right">
                                {{'label.kw' | translate}}
                            </td>
                            <td class="bg-bady-blue"></td>
                            <td>
                                <div class="d-flex justify-content-end align-items-center">
                                    <input type="text" class="form-control full-width">
                                    <span class="ml-2 flex-shrink-0">{{'label.kw' | translate}}</span>
                                </div>
                            </td>
                            <td>
                                <input type="text" class="form-control full-width">
                            </td>
                            <td>
                                <div class="d-flex justify-content-end align-items-center">
                                    <input type="text" class="form-control full-width">
                                    <span class="ml-2 flex-shrink-0">{{'label.kw' | translate}}</span>
                                </div>
                            </td>
                            <td>
                                <input type="text" class="form-control full-width">
                            </td>
                        </tr>
                        <tr>
                            <td class="bg-dark-blue border-top-0"></td>
                            <td class="bg-dark-blue label-cell">
                                {{'label.total' | translate}}
                            </td>
                            <td class="bg-bady-blue"></td>
                            <td class="bg-bady-blue"></td>
                            <td class="bg-bady-blue"></td>
                            <td class="bg-bady-blue"></td>
                            <td class="bg-bady-blue"></td>
                            <td class="bg-bady-blue"></td>
                            <td class="bg-bady-blue"></td>
                            <td class="bg-bady-blue"></td>
                            <td class="bg-bady-blue"></td>
                        </tr>


                        <tr>
                            <td rowspan="5" colspan="2" class="bg-dark-blue label-cell border-bottom-0">
                                {{'label.3_emergency_response_measures' | translate}}
                            </td>
                            <td rowspan="3" class="bg-dark-blue">
                                {{'label.no' | translate}}
                            </td>
                            <td colspan="2" rowspan="2" class="bg-dark-blue border-bottom-0">
                                {{'label.measures_details' | translate}}
                            </td>
                            <td colspan="4" class="bg-dark-blue text-center">
                                {{'label.previous_day' | translate}}
                            </td>
                            <td colspan="2" class="bg-dark-blue text-center">
                                {{'label.today' | translate}}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="bg-dark-blue text-center">
                                {{'label.plan' | translate}}
                            </td>
                            <td colspan="2" class="bg-dark-blue text-center">
                                {{'label.actual_performance' | translate}}
                            </td>
                            <td colspan="2" class="bg-dark-blue text-center">
                                {{'label.prediction' | translate}}
                            </td>
                        </tr>
                        <tr>
                            <td class="bg-dark-blue border-top-0"></td>
                            <td class="bg-dark-blue">
                                {{'label.reduced_power' | translate}}
                            </td>
                            <td class="bg-dark-blue">
                                {{'label.reduced_power' | translate}}
                            </td>
                            <td class="bg-dark-blue">
                                {{'label.operating_hours' | translate}}
                            </td>
                            <td class="bg-dark-blue">
                                {{'label.reduced_power' | translate}}
                            </td>
                            <td class="bg-dark-blue">
                                {{'label.operating_hours' | translate}}
                            </td>
                            <td class="bg-dark-blue">
                                {{'label.reduced_power' | translate}}
                            </td>
                            <td class="bg-dark-blue">
                                {{'label.operating_hours' | translate}}
                            </td>
                        </tr>
                        <tr>
                            <td class="bg-bady-blue">1</td>
                            <td class="bg-bady-blue">***</td>
                            <td class="bg-bady-blue text-right">
                                {{'label.kw' | translate}}
                            </td>
                            <td class="bg-bady-blue text-right">
                                {{'label.kw' | translate}}
                            </td>
                            <td class="bg-bady-blue"></td>
                            <td>
                                <div class="d-flex justify-content-end align-items-center">
                                    <input type="text" class="form-control full-width">
                                    <span class="ml-2 flex-shrink-0">{{'label.kw' | translate}}</span>
                                </div>
                            </td>
                            <td>
                                <input type="text" class="form-control full-width">
                            </td>
                            <td>
                                <div class="d-flex justify-content-end align-items-center">
                                    <input type="text" class="form-control full-width">
                                    <span class="ml-2 flex-shrink-0">{{'label.kw' | translate}}</span>
                                </div>
                            </td>
                            <td>
                                <input type="text" class="form-control full-width">
                            </td>
                        </tr>
                        <tr>
                            <td class="bg-bady-blue">2</td>
                            <td class="bg-bady-blue">***</td>
                            <td class="bg-bady-blue text-right">
                                {{'label.kw' | translate}}
                            </td>
                            <td class="bg-bady-blue text-right">
                                {{'label.kw' | translate}}
                            </td>
                            <td class="bg-bady-blue"></td>
                            <td>
                                <div class="d-flex justify-content-end align-items-center">
                                    <input type="text" class="form-control full-width">
                                    <span class="ml-2 flex-shrink-0">{{'label.kw' | translate}}</span>
                                </div>
                            </td>
                            <td>
                                <input type="text" class="form-control full-width">
                            </td>
                            <td>
                                <div class="d-flex justify-content-end align-items-center">
                                    <input type="text" class="form-control full-width">
                                    <span class="ml-2 flex-shrink-0">{{'label.kw' | translate}}</span>
                                </div>
                            </td>
                            <td>
                                <input type="text" class="form-control full-width">
                            </td>
                        </tr>
                        <tr>
                            <td class="bg-dark-blue border-top-0"></td>
                            <td class="bg-dark-blue label-cell">
                                {{'label.total' | translate}}
                            </td>
                            <td class="bg-bady-blue"></td>
                            <td class="bg-bady-blue"></td>
                            <td class="bg-bady-blue"></td>
                            <td class="bg-bady-blue"></td>
                            <td class="bg-bady-blue"></td>
                            <td class="bg-bady-blue"></td>
                            <td class="bg-bady-blue"></td>
                            <td class="bg-bady-blue"></td>
                            <td class="bg-bady-blue"></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="table-responsive">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td rowspan="2" class="bg-blue w-110">
                                {{ "label.transfer_matters" | translate }}
                            </td>
                            <td class="bg-dark-blue">
                                {{ "label.judgment_end_demand_management_period" | translate }}
                            </td>
                            <td colspan="2">
                                <ng-select
                                    [bindLabel]="'name'"
                                    [bindValue]="'id'"
                                    [notFoundText]="
                                        'message.no_data' | translate
                                    "
                                    [typeToSearchText]="
                                        'label.type_to_search' | translate
                                    "
                                    [appendTo]="'#demand-detail'"
                                    [clearable]="false"></ng-select>
                            </td>
                        </tr>
                        <tr>
                            <td class="label-cell bg-dark-blue">
                                {{ "label.comment" | translate }}
                            </td>
                            <td colspan="2">
                                <textarea
                                    rows="3"
                                    type="text"
                                    class="full-width form-control no-resize"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td rowspan="5" class="bg-midnight-blue">
                                {{ "label.approval" | translate }}
                            </td>
                            <td class="label-cell bg-dark-blue">
                                {{ "label.forward_proposer" | translate }}
                            </td>
                            <td class="bg-bady-blue w-250">{{demandInfo?.forward_user}}</td>
                            <td class="bg-bady-blue">{{demandInfo?.forward_date}}</td>
                        </tr>
                        <tr>
                            <td rowspan="2" class="label-cell bg-dark-blue">
                                {{ "label.approval1" | translate }}
                            </td>
                            <td class="bg-bady-blue">
                                {{demandInfo?.approval_user1}}
                            </td>
                            <!-- /.approval user1 -->
                            <td
                                rowspan="2"
                                class="bg-bady-blue"
                            >
                                {{demandInfo?.approval_comment1}}
                            </td>
                            <!-- /.comment1 -->
                        </tr>
                        <tr>
                            <td class="bg-bady-blue">
                                {{demandInfo?.approval_datetime1}}
                            </td>
                            <!-- /.approval datetime1 -->
                        </tr>
                        <tr>
                            <td rowspan="2" class="label-cell bg-dark-blue">
                                {{ "label.approval2" | translate }}
                            </td>
                            <td class="bg-bady-blue">
                                {{demandInfo?.approval_user2}}
                            </td>
                            <!-- /.approval user2 -->
                            <td
                                rowspan="2"
                                class="bg-bady-blue"
                            >
                                {{demandInfo?.approval_comment2}}
                            </td>
                            <!-- /.comment2 -->
                        </tr>
                        <tr>
                            <td class="bg-bady-blue">
                                {{demandInfo?.approval_datetime2}}
                            </td>
                            <!-- /.approval datetime2 -->
                        </tr>
                    </tbody>
                </table>
                <!-- /.table -->
            </div>
        </form>
    </div>
</div>
