<app-content-header
    [pageTitle]="'label.standard_document_management' | translate"
    [breadcrumbs]="
        'label.standard_document_management' | translate
    "
></app-content-header>
<fieldset class="search-box">
    <legend>{{ "label.search" | translate }}</legend>
    <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <input
                        type="text"
                        class="form-control"
                        formControlName="keyword"
                        placeholder="{{ 'label.keyword' | translate }}"
                    />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center">
                <button
                    class="btn btn-danger mr-2"
                    type="button"
                    (click)="onResetSearch()"
                >
                    <i class="fa fa-eraser mr-2"></i
                    >{{ "label.reset" | translate }}
                </button>
                <button class="btn btn-primary" type="submit">
                    <i class="fa fa-search mr-2"></i
                    >{{ "label.search" | translate }}
                </button>
            </div>
        </div>
    </form>
</fieldset>
<div class="action-box">
    <div class="row column-reverse">
        <div class="col align-self-end">
            {{ "label.search_result_count" | translate }}:
            <span class="search-result-total-count"
                >{{ searchResultCount }}{{ "label.record" | translate }}</span
            >
        </div>
        <div class="col-auto btns-box">
            <button
                class="btn btn-primary"
                type="button"
                [routerLink]="'create'"
            >
                <i class="fa fa-plus mr-2"></i>{{ "label.add" | translate }}
            </button>
            <button class="btn btn-primary" type="button" (click)="onGoBack()">
                <i class="mr-2 fa-solid fa-xmark"></i
                >{{ "label.close" | translate }}
            </button>
        </div>
    </div>
</div>
<!-- /.action-box -->
<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table
                tableFilter
                [filterData]="standardDocumentTable?.filter_table"
                class="table table-bordered table-head-fixed"
            >
                <thead>
                    <tr>
                        <th columnFilterName="id" class="w-130">
                            {{ "label.standard_document_number" | translate }}
                        </th>
                        <th columnFilterName="standard_document_name" class="minw-200">
                            {{ "label.standard_document_name" | translate }}
                        </th>
                        <th columnFilterName="version_number" class="w-100">
                            {{ "label.version_number" | translate }}
                        </th>
                        <th columnFilterName="standard_classification" class="w-180">
                            {{ "label.standard_classification" | translate }}
                        </th>
                        <th columnFilterName="target_business_establishment" class="w-180">
                            {{ "label.target_business_establishment" | translate }}
                        </th>
                        <th columnFilterName="driven_type" class="w-180">
                            {{ "label.driven_type" | translate }}
                        </th>
                        <th columnFilterName="last_update_date" class="w-180">
                            {{ "label.last_update_date" | translate }}
                        </th>
                        <th columnFilterName="status" [displayData]="statusData" class="w-160">
                            {{ "label.status" | translate }}
                        </th>
                        <th colspan="4" class="text-center">
                            {{ "label.standard_document_file" | translate }}
                        </th>
                    </tr>
                </thead>
                @if (Lib.isValidArrayData(standardDocumentTable?.data_source)) {
                <tbody>
                    @for (item of standardDocumentTable?.data_source; track $index)
                    {
                    <tr>
                        <td class="text-right">{{item.id}}</td>
                        <td>
                            <a
                                class="blue d-inline"
                                (click)="onDetail(item.id)"
                            >
                                <span>{{ item.standard_document_name }}</span>
                            </a>
                        </td>
                        <td>{{item.version_number}}</td>
                        <td>{{item.standard_classification}}</td>
                        <td>{{item.target_business_establishment}}</td>
                        <td>{{item.driven_type}}</td>
                        <td>{{item.last_update_date}}</td>
                        <td>{{getStatusName(item.status)}}</td>
                        <td class="w-70">
                            <a
                                class="blue d-inline"
                            >
                                <span>PDF</span>
                            </a>
                        </td>
                        <td class="w-70">
                            <a
                                class="blue d-inline"
                            >
                                <span>Word</span>
                            </a>
                        </td>
                        <td class="w-70">
                            <a
                                class="blue d-inline"
                            >
                                <span>様式-1</span>
                            </a>
                        </td>
                        <td class="w-70">
                            <a
                                class="blue d-inline"
                            >
                                <span>様式-2</span>
                            </a>
                        </td>
                    </tr>
                    }
                </tbody>
                } @else {
                <tfoot>
                    <tr>
                        <td colspan="12">
                            {{ "message.no_data" | translate }}
                        </td>
                    </tr>
                </tfoot>
                }
            </table>
        </div>
        <!-- /.table-responsive -->
        <app-pagination
            [page]="currentPage"
            [totalRow]="searchResultCount"
            (changePage)="onPaginationChange($event)"
        >
        </app-pagination>
    </div>
</div>
