<app-content-header
    [pageTitle]="'label.alarm_history' | translate"
    [breadcrumbs]="'label.alarm_history' | translate"
></app-content-header>
<fieldset class="search-box">
    <legend>{{ "label.search" | translate }}</legend>
    <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <input
                        type="text"
                        class="form-control"
                        formControlName="keyword"
                        placeholder="{{ 'label.keyword' | translate }}"
                    />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center">
                <button
                    class="btn btn-danger mr-2"
                    type="button"
                    (click)="onResetSearch()"
                >
                    <i class="fa fa-eraser mr-2"></i
                    >{{ "label.reset" | translate }}
                </button>
                <button class="btn btn-primary" type="submit">
                    <i class="fa fa-search mr-2"></i
                    >{{ "label.search" | translate }}
                </button>
            </div>
        </div>
    </form>
</fieldset>
<div class="action-box">
    <div class="row column-reverse">
        <div class="col align-self-end">
            {{ "label.search_result_count" | translate }}:
            <span class="search-result-total-count"
                >{{ searchResultCount }}{{ "label.record" | translate }}</span
            >
        </div>
        <div class="col-auto btns-box">
            <button
                class="btn btn-primary"
                type="button"
            >
                <i class="fa-solid fa-file-csv mr-2"></i
                >{{ "label.csv" | translate }}
            </button>
            <button
                class="btn btn-primary"
                type="button"
                (click)="onShowChartModal()"
            >
                <i class="fa-solid fa-chart-column mr-2"></i
                >{{ "label.number_cases_graph" | translate }}
            </button>
            <button class="btn btn-primary" type="button" (click)="onGoBack()">
                <i class="mr-2 fa-solid fa-xmark"></i
                >{{ "label.close" | translate }}
            </button>
        </div>
    </div>
</div>
<!-- /.action-box -->
<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table tableFilter [filterData]="alarmHistoryTable?.filter_table" class="table table-bordered table-head-fixed">
                <thead>
                    <tr>
                        <th columnFilterName="id" class="w-110 text-right">
                            {{ "label.alarm_number" | translate }}
                        </th>
                        <th columnFilterName="occurrence_datetime" class="w-180">
                            {{ "label.occurrence_datetime" | translate }}
                        </th>
                        <th columnFilterName="alarm_name" class="minw-200">
                            {{ "label.alarm_name" | translate }}
                        </th>
                        <th columnFilterName="driving_type" [displayData]="driveData" class="w-140">
                            {{ "label.root_cause_type" | translate }}
                        </th>
                        <th columnFilterName="facility_name" class="w-180">
                            {{ "label.facility_name" | translate }}
                        </th>
                        <th columnFilterName="buiding_place" class="w-180">
                            {{ "label.buiding_place" | translate }}
                        </th>
                        <th columnFilterName="alarm_rank" class="w-140">
                            {{ "label.alarm_rank" | translate }}
                        </th>
                    </tr>
                </thead>
                @if (Lib.isValidArrayData(alarmHistoryTable?.records)) {
                <tbody>
                    @for (item of alarmHistoryTable?.records; track $index) {
                    <tr>
                        <td class="text-right">{{item.id}}</td>
                        <td>{{item.occurrence_datetime}}</td>
                        <td>{{item.alarm_name}}</td>
                        <td>{{getDriveName(item.driving_type)}}</td>
                        <td>{{item.facility_name}}</td>
                        <td>{{item.buiding_place}}</td>
                        <td>{{item.alarm_rank}}</td>
                    </tr>
                    }
                </tbody>
                } @else {
                <tfoot>
                    <tr>
                        <td colspan="7">{{ "message.no_data" | translate }}</td>
                    </tr>
                </tfoot>
                }
            </table>
        </div>
        <!-- /.table-responsive -->
        <app-pagination
            [page]="currentPage"
            [totalRow]="searchResultCount"
            (changePage)="onPaginationChange($event)"
        >
        </app-pagination>
    </div>
</div>
