<app-content-header
    [pageTitle]="'label.trend_management' | translate"
    [breadcrumbs]="'label.trend_management' | translate"
></app-content-header>

<div class="action-box">
    <div class="row column-reverse">
        <div class="col align-self-end">
            {{ "label.search_result_count" | translate }}:
            <span class="search-result-total-count"
                >{{ searchResultCount }}{{ "label.record" | translate }}</span
            >
        </div>
        <div class="col-auto btns-box">
            <button class="btn btn-primary" type="button">
                {{ "label.edit_item" | translate }}
            </button>
            <button class="btn btn-primary" type="button" (click)="onDetail()">
                {{ "label.result_input" | translate }}
            </button>
            <button class="btn btn-primary" type="button">
                <i class="mr-2 fa fa-save"></i>{{ "label.save" | translate }}
            </button>
            <button class="btn btn-primary" type="button">
                {{ "label.csv" | translate }}
            </button>
            <button class="btn btn-primary" type="button" (click)="onGoBack()">
                <i class="mr-2 fa-solid fa-xmark"></i
                >{{ "label.close" | translate }}
            </button>
        </div>
    </div>
</div>
<!-- /.action-box -->
<div class="card">
    <div class="card-body">
        <div #tableTrend class="table-responsive">
            <app-table>
            <table
                tableFilter
                [filterData]="trendTable?.filter_table"
                class="table table-bordered table-head-fixed"
            >
                <thead>
                    <tr>
                        <th
                            columnFilterName="management_group"
                            rowspan="3"
                            class="w-150"
                        >
                            {{ "label.management_group" | translate }}
                        </th>
                        <th
                            columnFilterName="point_name"
                            rowspan="3"
                            class="minw-180"
                        >
                            {{
                                "label.building_management_point_name"
                                    | translate
                            }}
                        </th>
                        <th
                            columnFilterName="point_id"
                            rowspan="3"
                            class="w-180 column-fixed"
                        >
                            {{
                                "label.building_management_point_id" | translate
                            }}
                        </th>
                        <th
                            columnFilterName="status"
                            [displayData]="statusData"
                            rowspan="3"
                            class="w-120"
                        >
                            {{ "label.status" | translate }}
                        </th>
                        <th rowspan="3" class="w-100">
                            {{ "label.unit" | translate }}
                        </th>
                        <th rowspan="3" class="w-100">
                            <div class="text-center">
                                {{ "label.usl" | translate }}
                            </div>
                            <div>
                                {{
                                    "label.upper_limit_specification_value"
                                        | translate
                                }}
                            </div>
                        </th>
                        <th rowspan="3" class="w-100">
                            <div class="text-center">
                                {{ "label.lsl" | translate }}
                            </div>
                            <div>
                                {{
                                    "label.lower_limit_specification_value"
                                        | translate
                                }}
                            </div>
                        </th>
                        <th rowspan="3" class="w-100">
                            <div class="text-center">
                                {{ "label.ucl" | translate }}
                            </div>
                            <div>
                                {{
                                    "label.upper_limit_control_value"
                                        | translate
                                }}
                            </div>
                        </th>
                        <th rowspan="3" class="w-100">
                            <div class="text-center">
                                {{ "label.lcl" | translate }}
                            </div>
                            <div>
                                {{
                                    "label.lower_limit_control_value"
                                        | translate
                                }}
                            </div>
                        </th>
                        <th rowspan="3" class="w-100">
                            {{ "label.3sigma_management" | translate }}
                        </th>
                        <th rowspan="3" class="w-100">
                            {{ "label.m_plus_3sigma" | translate }}
                        </th>
                        <th rowspan="3" class="w-100">
                            {{ "label.m_minus_3sigma" | translate }}
                        </th>
                        <th rowspan="3" class="w-100">
                            {{ "label.3sigma_calculation_period" | translate }}
                        </th>
                        <th rowspan="3" class="w-100">
                            {{ "label.review_cycle" | translate }}
                        </th>
                        <th rowspan="3" class="w-100">
                            {{ "label.confirmation_frequency" | translate }}
                        </th>
                        <th rowspan="2" colspan="7" class="text-center">
                            {{ "label.day_of_the_week" | translate }}
                        </th>
                        <th [attr.colspan]="lastDayOfMonth">
                            <div class="d-flex justify-content-between">
                                <button
                                    class="btn btn-primary"
                                    type="button"
                                    (click)="onPreviousMonth()"
                                >
                                    <i class="fa-solid fa-angle-left"></i>
                                </button>
                                <span>{{ displaySelectedMonth }}</span>
                                <button
                                    class="btn btn-primary"
                                    type="button"
                                    (click)="onNextMonth()"
                                >
                                    <i class="fa-solid fa-angle-right"></i>
                                </button>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        @for (item of [].constructor(lastDayOfMonth); track i;
                        let i = $index) {
                        <th
                            class="w-40 text-center"
                            [class.bg-danger-subtle]="isToday(i + 1)"
                        >
                            {{ i + 1 }}
                        </th>
                        }
                    </tr>
                    <tr>
                        <th class="w-40 text-center">
                            {{ "label.sunday" | translate }}
                        </th>
                        <th class="w-40 text-center">
                            {{ "label.monday" | translate }}
                        </th>
                        <th class="w-40 text-center">
                            {{ "label.tuesday" | translate }}
                        </th>
                        <th class="w-40 text-center">
                            {{ "label.wednesday" | translate }}
                        </th>
                        <th class="w-40 text-center">
                            {{ "label.thursday" | translate }}
                        </th>
                        <th class="w-40 text-center">
                            {{ "label.friday" | translate }}
                        </th>
                        <th class="w-40 text-center">
                            {{ "label.saturday" | translate }}
                        </th>

                        @for (item of [].constructor(lastDayOfMonth); track i;
                        let i = $index) {
                        <th
                            class="text-center"
                            [class.bg-danger-subtle]="isToday(i + 1)"
                        >
                            {{ dayOfWeekArray[i] }}
                        </th>
                        }
                    </tr>
                </thead>
                <!-- /.header -->
                @if (Lib.isValidArrayData(trendTable?.records)) {
                <tbody>
                    @for (item of trendTable?.records; track $index) {
                    <tr>
                        <td
                            class="cursor-pointer"
                            (contextmenu)="
                                onRightClickGroup(item); $event.preventDefault()
                            "
                        >
                            @if (item.is_management_group_edit) {
                            <input
                                class="form-control full-width"
                                type="text"
                                (keyup.enter)="
                                    onChangeManagementGroup(item, $event)
                                "
                            />
                            } @else { @if (item.management_group) {
                            {{ item.management_group }}
                            } @else {
                            <button
                                class="btn btn-primary"
                                type="button"
                                (click)="item.is_management_group_edit = true"
                            >
                                {{ "label.add_group" | translate }}
                            </button>
                            } }
                        </td>
                        <td
                            class="cursor-pointer"
                            (contextmenu)="
                                onRightClickPointName(item);
                                $event.preventDefault()
                            "
                        >
                            @if (item.is_point_name_edit) {
                            <input
                                class="form-control full-width"
                                type="text"
                                (keyup.enter)="onChangePointName(item, $event)"
                            />
                            } @else { @if (item.point_name) {
                            {{ item.point_name }}
                            } @else {
                            <button
                                class="btn btn-primary"
                                type="button"
                                (click)="item.is_point_name_edit = true"
                            >
                                {{
                                    "label.added_confirmation_item" | translate
                                }}
                            </button>
                            } }
                        </td>
                        <td>
                            {{ item.point_id }}
                        </td>
                        <td>{{ item.status }}</td>
                        <td>{{ item.unit }}</td>
                        <td>{{ item.usl }}</td>
                        <td>{{ item.lsl }}</td>
                        <td>{{ item.ucl }}</td>
                        <td>{{ item.lcl }}</td>
                        <td>{{ item.sigma_management }}</td>
                        <td>{{ item.m_plus_sigma }}</td>
                        <td>{{ item.m_minus_sigma }}</td>
                        <td>{{ item.sigma_calculation_period }}</td>
                        <td>{{ item.review_cycle }}</td>
                        <td>{{ item.confirmation_frequency }}</td>

                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>

                        @for (item of [].constructor(lastDayOfMonth); track i;
                        let i = $index) {
                        <td [class.bg-danger-subtle]="isToday(i + 1)"></td>
                        }
                    </tr>
                    }
                </tbody>
                } @else {
                <tfoot>
                    <tr>
                        <td colspan="22">
                            {{ "message.no_data" | translate }}
                        </td>
                    </tr>
                </tfoot>
                }
            </table>
            </app-table>
        </div>
        <!-- /.table-responsive -->
        <app-pagination
            [page]="currentPage"
            [totalRow]="searchResultCount"
            (changePage)="onPaginationChange($event)"
        >
        </app-pagination>
    </div>
</div>
