<app-content-header
    [pageTitle]="'label.authority_management' | translate"
    [breadcrumbs]="'label.authority_management' | translate"></app-content-header>

<div class="action-box">
    <div class="row">
        <div class="col-12 text-right">
            <button
                class="btn btn-primary mr-2"
                type="button"
                (click)="onAddNewRole()">
                <i class="fa fa-plus mr-2"></i>{{ 'label.addition' | translate }}
            </button>
            <button
                class="btn btn-primary"
                type="button"
                (click)="onGoBack()">
                <i class="mr-2 fa-solid fa-xmark"></i>{{ 'label.close' | translate }}
            </button>
        </div>
    </div>
</div>
<!-- /.action-box -->
<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-head-fixed">
                <thead>
                    <tr>
                        <th class="label-cell text-right">
                            {{ 'label.id' | translate }}
                        </th>
                        <th class="minw-210">
                            {{ 'label.authority_name' | translate }}
                        </th>
                        <th class="w-80 text-center text-nowrap">
                            {{ 'label.display' | translate }}
                        </th>
                        <th class="w-80 text-center text-nowrap">
                            {{ 'label.transfer' | translate }}
                        </th>
                        <th class="w-80 text-center text-nowrap">
                            {{ 'label.registration' | translate }}
                        </th>
                        <th class="w-80 text-center text-nowrap">
                            {{ 'label.approval' | translate }}
                        </th>
                        <th class="w-80 text-center text-nowrap">
                            {{ 'label.team_leader' | translate }}
                        </th>
                        <th class="w-80 text-center text-nowrap">
                            {{ 'label.chief' | translate }}
                        </th>
                        <th class="w-80 text-center text-nowrap">
                            {{ 'label.administrator' | translate }}
                        </th>
                        <th class="w-50 text-center"></th>
                    </tr>
                </thead>
                @if (Lib.isValidArrayData(roleList)) {
                <tbody>
                    @for (item of roleList; track item; let index = $index) {
                    <tr>
                        <td class="label-cell text-right">{{ item.role_id }}</td>
                        <td class="py-2">
                            <input
                                type="text"
                                [class.border-danger]="item.invalid"
                                class="full-width form-control"
                                #roleName
                                [maxLength]="ROLE_NAME_ML"
                                [value]="item.role_name"
                                (input)="onRoleNameTyping(item, $event)"
                                (blur)="onRoleNameChanged(item, $event)"
                                (keyup.enter)="roleName.blur()" />
                        </td>
                        <td class="text-center">
                            <input
                                type="checkbox"
                                class="cursor-pointer"
                                (change)="onCheckboxChanged(item, Constants.ROLE.READ_ROLE, $event, roleName)"
                                [checked]="item.read_role" />
                        </td>
                        <td class="text-center">
                            <input
                                type="checkbox"
                                class="cursor-pointer"
                                (change)="onCheckboxChanged(item, Constants.ROLE.NOTICE_ROLE, $event, roleName)"
                                [checked]="item.notice_role" />
                        </td>
                        <td class="text-center">
                            <input
                                type="checkbox"
                                class="cursor-pointer"
                                (change)="onCheckboxChanged(item, Constants.ROLE.UPDATE_ROLE, $event, roleName)"
                                [checked]="item.update_role" />
                        </td>
                        <td class="text-center">
                            <input
                                type="checkbox"
                                class="cursor-pointer"
                                (change)="onCheckboxChanged(item, Constants.ROLE.APPROVAL_ROLE, $event, roleName)"
                                [checked]="item.approval_role" />
                        </td>
                        <td class="text-center">
                            <input
                                type="checkbox"
                                class="cursor-pointer"
                                (change)="onCheckboxChanged(item, Constants.ROLE.MANAGER_ROLE, $event, roleName)"
                                [checked]="item.manager_role" />
                        </td>
                        <td class="text-center">
                            <input
                                type="checkbox"
                                class="cursor-pointer"
                                (change)="onCheckboxChanged(item, Constants.ROLE.TEAM_LEADER_ROLE, $event, roleName)"
                                [checked]="item.leader_role" />
                        </td>
                        <td class="text-center">
                            <input
                                type="checkbox"
                                class="cursor-pointer"
                                (change)="onCheckboxChanged(item, Constants.ROLE.CHIEF_ROLE, $event, roleName)"
                                [checked]="item.admin_role" />
                        </td>
                        <td class="text-center">
                            <div class="tbl-btn-group">
                                <a
                                    (click)="onDeleteRole(item, index)"
                                    class="del"
                                    title="{{ 'label.delete' | translate }}"
                                    ><i class="fas fa-trash-alt"></i
                                ></a>
                            </div>
                        </td>
                    </tr>
                    }
                </tbody>
                } @else {
                <tfoot>
                    <tr>
                        <td
                            class="text-center"
                            colspan="10">
                            {{ 'message.no_data' | translate }}
                        </td>
                    </tr>
                </tfoot>
                }
            </table>
        </div>
        <!-- /.table-responsive -->
    </div>
</div>
