@if (isEdit) {
<app-content-header
    [pageTitle]="'label.detail' | translate"
    [breadcrumbs]="breadcrumbsDetail"
></app-content-header>
} @else {
<app-content-header
    [pageTitle]="'label.create' | translate"
    [breadcrumbs]="breadcrumbsCreate"
></app-content-header>
}
<div class="card" id="in-ope-manage-detail">
    <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="onSave()">
            <div class="action-box">
                <div class="btns-box">
                    <button
                        (click)="onCreateNew()"
                        class="btn btn-primary"
                        type="button"
                    >
                        <i class="mr-2 fa-solid fa-plus"></i
                        >{{ "label.new_request" | translate }}
                    </button>
                    <button class="btn btn-primary" type="button">
                        {{ "label.revision" | translate }}
                    </button>
                    <button class="btn btn-primary" type="submit">
                        <i class="mr-2 fa fa-save"></i
                        >{{ "label.save" | translate }}
                    </button>
                    <button class="btn btn-primary" type="button">
                        <i class="mr-2 fa-solid fa-arrow-right-arrow-left"></i>
                        {{ "label.forward" | translate }}
                    </button>
                    <button
                        class="btn btn-primary"
                        type="button"
                        (click)="onGoBack()"
                    >
                        <i class="mr-2 fa-solid fa-xmark"></i
                        >{{ "label.close" | translate }}
                    </button>
                </div>
            </div>
            <!-- /.action -->
            @if (Lib.isValidArrayData(validator.errors)) {
            <div class="row">
                <div class="col-12">
                    <app-form-errors
                        [errors]="validator.errors"
                    ></app-form-errors>
                </div>
            </div>
            }
            <div class="table-responsive">
                <table class="table table-bordered table-form table-header">
                    <tbody>
                        <tr>
                            <td class="w-110 label-cell bg-dark-blue">
                                {{ "label.control_number" | translate }}
                            </td>
                            <td class="w-110 bg-bady-blue">
                                {{ inOpeManageInfo?.id }}
                            </td>
                            <td class="label-cell bg-dark-blue">
                                {{ "label.office" | translate }}
                            </td>
                            <td class="bg-bady-blue">
                                {{ inOpeManageInfo?.office_name }}
                            </td>
                            <td class="label-cell bg-dark-blue">
                                {{ "label.status" | translate }}
                            </td>
                            <td class="bg-bady-blue w-100">
                                {{ getStatusName(inOpeManageInfo?.status) }}
                            </td>
                            <td class="label-cell bg-dark-blue">
                                {{ "label.version_number" | translate }}
                            </td>
                            <td class="bg-bady-blue w-40">
                                {{ inOpeManageInfo?.latest_version }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.header table -->
            <div class="table-responsive">
                <table class="table table-bordered table-head-fixed table-form">
                    <tbody>
                        <tr>
                            <td class="w-110 bg-blue header-cell" rowspan="7">
                                <span>{{ "label.work_plan" | translate }}</span>
                            </td>
                            <td class="label-cell bg-dark-blue">
                                <span>{{ "label.subject" | translate }}</span>
                            </td>
                            <td colspan="3">
                                <input
                                    type="text"
                                    class="full-width form-control"
                                    formControlName="subject"
                                />
                            </td>
                        </tr>
                        <!-- /.subject -->
                        <tr>
                            <td class="label-cell bg-dark-blue">
                                <span>{{
                                    "label.target_building" | translate
                                }}</span>
                            </td>
                            <td class="w-250">
                                <ng-select
                                    formControlName="target_building_type"
                                    [items]="buildingList"
                                    [bindLabel]="'name'"
                                    [bindValue]="'id'"
                                    [notFoundText]="
                                        'message.no_data' | translate
                                    "
                                    [typeToSearchText]="
                                        'label.type_to_search' | translate
                                    "
                                    [appendTo]="'#in-ope-manage-detail'"
                                    [clearable]="false"
                                ></ng-select>
                            </td>
                            <!-- /.target building -->
                            <td colspan="2" class="d-none d-md-table-cell"></td>
                            <!-- /.space -->
                        </tr>
                        <tr>
                            <td class="label-cell bg-dark-blue">
                                <span>{{
                                    "label.root_cause_type" | translate
                                }}</span>
                            </td>
                            <td>
                                <ng-select
                                    formControlName="driving_type"
                                    [items]="driveList"
                                    [bindLabel]="'name'"
                                    [bindValue]="'id'"
                                    [notFoundText]="
                                        'message.no_data' | translate
                                    "
                                    [typeToSearchText]="
                                        'label.type_to_search' | translate
                                    "
                                    [appendTo]="'#in-ope-manage-detail'"
                                    [clearable]="false"
                                ></ng-select>
                            </td>
                            <!-- /.driving type -->
                            <td class="label-cell bg-dark-blue">
                                <span>{{ "label.facility" | translate }}</span>
                            </td>
                            <td class="minw-300">
                                <input
                                    type="text"
                                    class="full-width form-control"
                                    formControlName="facility_name"
                                />
                            </td>
                            <!-- /.facility -->
                        </tr>
                        <tr>
                            <td class="label-cell bg-dark-blue">
                                <span>{{
                                    "label.facility_detail1" | translate
                                }}</span>
                            </td>
                            <td>
                                <input
                                    type="text"
                                    class="full-width form-control"
                                    formControlName="facility_detail1"
                                />
                            </td>
                            <!-- /.facility detail 1 -->
                            <td class="label-cell bg-dark-blue">
                                <span>{{
                                    "label.facility_detail2" | translate
                                }}</span>
                            </td>
                            <td>
                                <input
                                    type="text"
                                    class="full-width form-control"
                                    formControlName="facility_detail2"
                                />
                            </td>
                            <!-- /.facility detail 2 -->
                        </tr>
                        <tr>
                            <td class="label-cell bg-dark-blue">
                                <span>{{ "label.purpose" | translate }}</span>
                            </td>
                            <td colspan="3">
                                <textarea
                                    rows="6"
                                    class="full-width form-control"
                                    formControlName="purpose"
                                ></textarea>
                            </td>
                        </tr>
                        <!-- /.purpose -->
                        <tr>
                            <td class="label-cell bg-dark-blue">
                                <span>{{
                                    "label.work_detail" | translate
                                }}</span>
                            </td>
                            <td colspan="3">
                                <textarea
                                    rows="6"
                                    class="full-width form-control"
                                    formControlName="work_detail"
                                ></textarea>
                            </td>
                        </tr>
                        <!-- /.work detail -->
                        <tr>
                            <td class="label-cell bg-dark-blue">
                                <span>{{
                                    "label.attached_file" | translate
                                }}</span>
                            </td>
                            <td colspan="3">
                                <app-upload></app-upload>
                            </td>
                        </tr>
                        <!-- /.attachment -->
                        <tr>
                            <td
                                class="bg-midnight-blue header-cell"
                                colspan="2"
                            >
                                <span>{{
                                    "label.procedure_prediction_measures"
                                        | translate
                                }}</span>
                            </td>
                            <td colspan="3">
                                <app-upload></app-upload>
                            </td>
                        </tr>
                        <!-- /.attachment -->

                        <tr>
                            <td class="w-110 header-cell bg-blue" rowspan="6">
                                {{
                                    "label.judgment_work_availability"
                                        | translate
                                }}
                            </td>
                            <td class="label-cell bg-dark-blue">
                                {{ "label.person_performing_work" | translate }}
                            </td>
                            <td>
                                <input
                                    formControlName="plan_treatment_user"
                                    type="text"
                                    class="full-width form-control"
                                />
                            </td>
                            <!-- /.treatment provider -->
                            <td class="label-cell bg-dark-blue">
                                {{
                                    "label.scheduled_implementation_date"
                                        | translate
                                }}
                            </td>
                            <td>
                                <div class="date-picker-group m-0">
                                    <input
                                        formControlName="plan_schedule_date"
                                        class="form-control control-date-picker input-group-text"
                                        placeholder="YYYY/MM/DD"
                                        [readonly]="true"
                                        name="start_date"
                                        maxlength="10"
                                        (click)="scheduleDate.toggle()"
                                        ngbDatepicker
                                        #scheduleDate="ngbDatepicker"
                                    />
                                    <div
                                        class="input-group-append cursor-pointer"
                                        (click)="scheduleDate.toggle()"
                                    >
                                        <span class="input-group-text"
                                            ><i class="fa fa-calendar"></i
                                        ></span>
                                    </div>
                                </div>
                            </td>
                            <!-- /.scheduled implementation date -->
                        </tr>
                        <tr>
                            <td class="label-cell bg-dark-blue">
                                {{ "label.forward_planner" | translate }}
                            </td>
                            <td colspan="2" class="bg-bady-blue">
                                {{ inOpeManageInfo?.plan_forward_user }}
                            </td>
                            <td class="bg-bady-blue">
                                {{ inOpeManageInfo?.plan_forward_date }}
                            </td>
                        </tr>
                        <!-- /.forward_planner -->
                        <tr>
                            <td rowspan="2" class="label-cell bg-dark-blue">
                                {{ "label.approval1" | translate }}
                            </td>
                            <td colspan="2" class="bg-bady-blue">
                                {{ inOpeManageInfo?.plan_approval_user1 }}
                            </td>
                            <!-- /.approval user1 -->
                            <td rowspan="2" class="bg-bady-blue">
                                {{ inOpeManageInfo?.plan_approval_comment1 }}
                            </td>
                            <!-- /.comment1 -->
                        </tr>
                        <tr>
                            <td colspan="2" class="bg-bady-blue">
                                {{ inOpeManageInfo?.plan_approval_datetime1 }}
                            </td>
                            <!-- /.approval datetime1 -->
                        </tr>
                        <tr>
                            <td rowspan="2" class="label-cell bg-dark-blue">
                                {{ "label.approval2" | translate }}
                            </td>
                            <td colspan="2" class="bg-bady-blue">
                                {{ inOpeManageInfo?.plan_approval_user2 }}
                            </td>
                            <!-- /.approval user2 -->
                            <td rowspan="2" class="bg-bady-blue">
                                {{ inOpeManageInfo?.plan_approval_comment2 }}
                            </td>
                            <!-- /.comment2 -->
                        </tr>
                        <tr>
                            <td colspan="2" class="bg-bady-blue">
                                {{ inOpeManageInfo?.plan_approval_datetime2 }}
                            </td>
                            <!-- /.approval datetime2 -->
                        </tr>
                        @if (isEdit) {
                        <tr>
                            <td
                                class="w-110 header-cell bg-midnight-blue"
                                rowspan="8"
                            >
                                {{ "label.work_result" | translate }}
                            </td>
                            <td class="label-cell bg-dark-blue">
                                {{ "label.comment" | translate }}
                            </td>
                            <td colspan="3">
                                <textarea
                                    rows="5"
                                    type="text"
                                    class="full-width form-control no-resize"
                                ></textarea>
                            </td>
                        </tr>
                        <!-- /.comment results -->
                        <tr>
                            <td class="label-cell bg-dark-blue">
                                {{ "label.work_result" | translate }}
                            </td>
                            <td colspan="3">
                                <ng-select
                                    [items]="resultList"
                                    [bindLabel]="'name'"
                                    [bindValue]="'id'"
                                    [notFoundText]="
                                        'message.no_data' | translate
                                    "
                                    [typeToSearchText]="
                                        'label.type_to_search' | translate
                                    "
                                    [appendTo]="'#in-ope-manage-detail'"
                                    [clearable]="false"
                                ></ng-select>
                            </td>
                        </tr>
                        <!-- /.work_result -->
                        <tr>
                            <td class="label-cell bg-dark-blue">
                                {{ "label.attached_file" | translate }}
                            </td>
                            <td colspan="3">
                                <app-upload></app-upload>
                            </td>
                        </tr>
                        <!-- /.attachment -->
                        <tr>
                            <td class="label-cell bg-dark-blue">
                                {{ "label.forward_reporter" | translate }}
                            </td>
                            <td colspan="2" class="bg-bady-blue"></td>
                            <td class="bg-bady-blue"></td>
                        </tr>
                        <tr>
                            <td rowspan="2" class="label-cell bg-dark-blue">
                                {{ "label.approval1" | translate }}
                            </td>
                            <td colspan="2" class="bg-bady-blue"></td>
                            <!-- /.approval user1 -->
                            <td rowspan="2" class="bg-bady-blue"></td>
                            <!-- /.comment1 -->
                        </tr>
                        <tr>
                            <td colspan="2" class="bg-bady-blue"></td>
                            <!-- /.approval datetime1 -->
                        </tr>
                        <tr>
                            <td rowspan="2" class="label-cell bg-dark-blue">
                                {{ "label.approval2" | translate }}
                            </td>
                            <td colspan="2" class="bg-bady-blue"></td>
                            <!-- /.approval user2 -->
                            <td rowspan="2" class="bg-bady-blue"></td>
                            <!-- /.comment2 -->
                        </tr>
                        <tr>
                            <td colspan="2" class="bg-bady-blue"></td>
                            <!-- /.approval datetime2 -->
                        </tr>
                        }
                    </tbody>
                </table>
                <!-- /.table -->
            </div>
        </form>
    </div>
</div>
