@if (isEdit) {
<app-content-header
    [pageTitle]="'label.detail' | translate"
    [breadcrumbs]="breadcrumbsDetail"
></app-content-header>
} @else {
<app-content-header
    [pageTitle]="'label.create' | translate"
    [breadcrumbs]="breadcrumbsCreate"
></app-content-header>
}
<div class="card" id="standard-document-detail">
    <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="onSave()">
            <div class="action-box">
                <div class="btns-box justify-content-start">
                    <button
                        (click)="onCreateNew()"
                        class="btn btn-primary"
                        type="button"
                    >
                        <i class="mr-2 fa-solid fa-plus"></i
                        >{{ "label.new_request" | translate }}
                    </button>
                    <button class="btn btn-primary" type="button">
                        {{ "label.revision" | translate }}
                    </button>
                    <button class="btn btn-primary" type="button">
                        {{ "label.periodic_review" | translate }}
                    </button>
                    <button class="btn btn-primary" type="button" (click)="createComment()">
                        {{ "label.addition_of_comments" | translate }}
                    </button>
                    <div class="flex-fill"></div>
                    <button class="btn btn-primary" type="submit">
                        <i class="mr-2 fa fa-save"></i
                        >{{ "label.save" | translate }}
                    </button>
                    <button class="btn btn-primary" type="button">
                        <i class="mr-2 fa-solid fa-arrow-right-arrow-left"></i>
                        {{ "label.forward" | translate }}
                    </button>
                    <button class="btn btn-primary" type="button">
                        {{ "label.pdf" | translate }}
                    </button>
                    <button
                        class="btn btn-primary"
                        type="button"
                        (click)="onGoBack()"
                    >
                        <i class="mr-2 fa-solid fa-xmark"></i
                        >{{ "label.close" | translate }}
                    </button>
                </div>
            </div>
            <!-- /.action -->
            @if (Lib.isValidArrayData(validator.errors)) {
            <div class="row">
                <div class="col-12">
                    <app-form-errors
                        [errors]="validator.errors"
                    ></app-form-errors>
                </div>
            </div>
            }
            <div class="table-responsive">
                <table class="table table-bordered table-form table-header">
                    <tbody>
                        <tr>
                            <td class="w-110 label-cell bg-dark-blue">
                                {{ "label.control_number" | translate }}
                            </td>
                            <td class="w-110 bg-bady-blue">
                                {{ standardDocumentInfo?.id }}
                            </td>
                            <td class="label-cell bg-dark-blue">
                                {{ "label.office" | translate }}
                            </td>
                            <td class="bg-bady-blue">
                                {{ standardDocumentInfo?.office_name }}
                            </td>
                            <td class="label-cell bg-dark-blue">
                                {{ "label.status" | translate }}
                            </td>
                            <td class="bg-bady-blue w-130">
                                {{
                                    getStatusName(standardDocumentInfo?.status)
                                }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.header table -->
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr class="colgroup">
                            <th class="w-110"></th>
                            <th></th>
                            <th class="minw-200"></th>
                            <th></th>
                            <th class="minw-150"></th>
                            <th></th>
                            <th class="w-100"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td rowspan="3" class="bg-blue"></td>
                            <td class="label-cell bg-dark-blue">
                                {{
                                    "label.standard_document_number" | translate
                                }}
                            </td>
                            <td>
                                <input
                                    formControlName="standard_document_number"
                                    type="text"
                                    class="full-width form-control"
                                />
                            </td>
                            <!-- /.standard document number -->
                            <td class="label-cell bg-dark-blue">
                                {{
                                    "label.standard_classification" | translate
                                }}
                            </td>
                            <td colspan="3">
                                <ng-select
                                    formControlName="standard_classification"
                                    [items]="items"
                                    [bindLabel]="'name'"
                                    [bindValue]="'id'"
                                    [notFoundText]="
                                        'message.no_data' | translate
                                    "
                                    [typeToSearchText]="
                                        'label.type_to_search' | translate
                                    "
                                    [appendTo]="'#standard-document-detail'"
                                    [clearable]="false"
                                ></ng-select>
                            </td>
                            <!-- /.standard classification -->
                        </tr>
                        <tr>
                            <td class="label-cell bg-dark-blue">
                                {{ "label.standard_document_name" | translate }}
                            </td>
                            <td colspan="3">
                                <input
                                    formControlName="standard_document_name"
                                    type="text"
                                    class="full-width form-control"
                                />
                            </td>
                            <!-- /.standard document name -->
                            <td class="label-cell bg-dark-blue">
                                {{ "label.version_number" | translate }}
                            </td>
                            <td class="bg-bady-blue">{{standardDocumentInfo?.version_number}}</td>
                            <!-- /.version number -->
                        </tr>
                        <tr>
                            <td class="label-cell bg-dark-blue">
                                {{
                                    "label.target_business_establishment"
                                        | translate
                                }}
                            </td>
                            <td>
                                <ng-select
                                    formControlName="target_business_establishment"
                                    [items]="items"
                                    [bindLabel]="'name'"
                                    [bindValue]="'id'"
                                    [notFoundText]="
                                        'message.no_data' | translate
                                    "
                                    [typeToSearchText]="
                                        'label.type_to_search' | translate
                                    "
                                    [appendTo]="'#standard-document-detail'"
                                    [clearable]="false"
                                ></ng-select>
                            </td>
                            <!-- /.target business establishment -->
                            <td class="label-cell bg-dark-blue">
                                {{ "label.root_cause_type" | translate }}
                            </td>
                            <td colspan="3">
                                <ng-select
                                    formControlName="root_cause_type"
                                    [items]="items"
                                    [bindLabel]="'name'"
                                    [bindValue]="'id'"
                                    [notFoundText]="
                                        'message.no_data' | translate
                                    "
                                    [typeToSearchText]="
                                        'label.type_to_search' | translate
                                    "
                                    [appendTo]="'#standard-document-detail'"
                                    [clearable]="false"
                                ></ng-select>
                            </td>
                            <!-- /.root cause type -->
                        </tr>
                    </tbody>
                </table>
                <!-- /.table -->
            </div>

            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr class="colgroup">
                            <th class="w-110"></th>
                            <th></th>
                            <th class="w-200"></th>
                            <th  [class.w-70]="isEdit"></th>
                            <th  [class.w-70]="isEdit"></th>
                            <th class="minw-300"></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td rowspan="9" class="bg-blue header-cell">
                                {{ "label.new_standard_drafting" | translate }}
                            </td>
                            <td class="label-cell bg-dark-blue">
                                {{ "label.voter" | translate }}
                            </td>
                            <td colspan="2" class="bg-bady-blue">{{standardDocumentInfo?.new_standard_forward_user}}</td>
                            <td colspan="2" class="bg-bady-blue">{{standardDocumentInfo?.new_standard_forward_date}}</td>
                        </tr>
                        <!-- /.voter -->
                        <tr>
                            <td class="bg-dark-blue">
                                {{
                                    "label.summary_of_the_new_legislation"
                                        | translate
                                }}
                            </td>
                            <td colspan="4">
                                <textarea
                                    formControlName="new_summary"
                                    rows="5"
                                    type="text"
                                    class="full-width form-control no-resize"
                                ></textarea>
                            </td>
                        </tr>
                        <!-- /.summary -->
                        <tr>
                            <td class="label-cell bg-dark-blue">
                                <span>{{
                                    "label.attached_file" | translate
                                }}</span>
                            </td>
                            <td colspan="4">
                                <app-upload></app-upload>
                            </td>
                        </tr>
                        <!-- /.attachment -->
                        <tr>
                            <td class="label-cell bg-dark-blue">
                                <span>{{
                                    "label.reviewer_designation" | translate
                                }}</span>
                            </td>
                            <td colspan="4">
                                <div class="d-flex justify-content-between">
                                    <span class="ml-2"></span>
                                    <button
                                        (click)="onSelectUser()"
                                        class="btn bg-blue"
                                        type="button"
                                    >
                                        {{ "label.select" | translate }}
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <!-- /.reviewer -->
                        <tr>
                            <td class="label-cell bg-dark-blue">
                                {{ "label.forward" | translate }}
                            </td>
                            <td colspan="2" class="bg-bady-blue">{{standardDocumentInfo?.new_standard_forward_user}}</td>
                            <td colspan="2" class="bg-bady-blue">{{standardDocumentInfo?.new_standard_forward_date}}</td>
                        </tr>
                        <!-- /.forward -->
                        <tr>
                            <td rowspan="2" class="label-cell bg-dark-blue">
                                {{ "label.approval1" | translate }}
                            </td>
                            <td colspan="2" class="bg-bady-blue">
                                {{standardDocumentInfo?.new_standard_approval_user1}}
                            </td>
                            <!-- /.approval user1 -->
                            <td
                                rowspan="2"
                                colspan="2"
                                class="bg-bady-blue"
                            >
                                {{standardDocumentInfo?.new_standard_approval_comment1}}
                            </td>
                            <!-- /.comment1 -->
                        </tr>
                        <tr>
                            <td colspan="2" class="bg-bady-blue">
                                {{standardDocumentInfo?.new_standard_approval_datetime1}}
                            </td>
                            <!-- /.approval datetime1 -->
                        </tr>
                        <tr>
                            <td rowspan="2" class="label-cell bg-dark-blue">
                                {{ "label.approval2" | translate }}
                            </td>
                            <td colspan="2" class="bg-bady-blue">
                                {{standardDocumentInfo?.new_standard_approval_user2}}
                            </td>
                            <!-- /.approval user2 -->
                            <td
                                rowspan="2"
                                colspan="2"
                                class="bg-bady-blue"
                            >
                                {{standardDocumentInfo?.new_standard_approval_comment2}}
                            </td>
                            <!-- /.comment2 -->
                        </tr>
                        <tr>
                            <td colspan="2" class="bg-bady-blue">
                                {{standardDocumentInfo?.new_standard_approval_datetime2}}
                            </td>
                            <!-- /.approval datetime2 -->
                        </tr>

                        @if (isEdit) {

                        <tr>
                            <td [attr.rowspan]="6 + commentFormArray.length" class="bg-midnight-blue">
                                {{ "label.deliberation" | translate }}1
                            </td>
                            <td class="bg-dark-blue">
                                {{ "label.deliberator" | translate }}
                            </td>
                            <td  class="bg-bady-blue">
                                審議者
                            </td>
                            <td colspan="2" class="bg-dark-blue">
                                {{
                                    "label.designate_person_who_inputs_the_discussion"
                                        | translate
                                }}
                            </td>
                            <td>
                                <div class="d-flex justify-content-between">
                                    <span class="ml-2"></span>
                                    <button
                                        (click)="onSelectUser()"
                                        class="btn bg-blue"
                                        type="button"
                                    >
                                        {{ "label.select" | translate }}
                                    </button>
                                </div>
                            </td>
                        </tr>

                        <ng-container formArrayName="comment_list">
                            @for (item of commentFormArray.controls; track item;
                            let i = $index;) {
                            <ng-container [formGroupName]="i">
                                <tr>
                                    <td class="bg-dark-blue">
                                        {{
                                            "label.comments_from_the_deliberation"
                                                | translate : { value: i+1 }
                                        }}
                                    </td>
                                    <td colspan="4">
                                        <textarea
                                            rows="5"
                                            type="text"
                                            class="full-width form-control no-resize"
                                        ></textarea>
                                    </td>
                                </tr>
                            </ng-container>
                            }
                        </ng-container>

                        <tr>
                            <td class="label-cell bg-dark-blue">
                                {{ "label.forward" | translate }}
                            </td>
                            <td colspan="2" class="bg-bady-blue">鈴木ひかり</td>
                            <td colspan="2" class="bg-bady-blue">2024/05/30 10:23:26</td>
                        </tr>
                        <tr>
                            <td rowspan="2" class="label-cell bg-dark-blue">
                                {{ "label.approval1" | translate }}
                            </td>
                            <td colspan="2" class="bg-bady-blue">田中 かいと</td>
                            <!-- /.approval user1 -->
                            <td
                                rowspan="2"
                                colspan="2"
                                class="bg-bady-blue"
                            >承認</td>
                            <!-- /.comment1 -->
                        </tr>
                        <tr>
                            <td colspan="2" class="bg-bady-blue">2024/05/30 10:24:26</td>
                            <!-- /.approval datetime1 -->
                        </tr>
                        <tr>
                            <td rowspan="2" class="label-cell bg-dark-blue">
                                {{ "label.approval2" | translate }}
                            </td>
                            <td colspan="2" class="bg-bady-blue">小林 だいち</td>
                            <!-- /.approval user2 -->
                            <td
                                rowspan="2"
                                colspan="2"
                                class="bg-bady-blue"
                            >承認</td>
                            <!-- /.comment2 -->
                        </tr>
                        <tr>
                            <td colspan="2" class="bg-bady-blue">2024/05/30 10:25:26</td>
                            <!-- /.approval datetime2 -->
                        </tr>

                        <tr>
                            <td rowspan="10" class="bg-blue">
                                {{ "label.deliberation" | translate }}2
                            </td>
                            <td class="bg-dark-blue">
                                {{ "label.deliberator" | translate }}
                            </td>
                            <td  class="bg-bady-blue">審議者</td>
                            <td colspan="2" class="bg-dark-blue">
                                {{
                                    "label.designate_person_who_inputs_the_discussion"
                                        | translate
                                }}
                            </td>
                            <td>
                                <div class="d-flex justify-content-between">
                                    <span class="ml-2"></span>
                                    <button
                                        (click)="onSelectUser()"
                                        class="btn bg-blue"
                                        type="button"
                                    >
                                        {{ "label.select" | translate }}
                                    </button>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td class="bg-dark-blue border-bottom-0">
                                {{
                                    "label.comments_from_the_deliberation"
                                        | translate : { value: 1 }
                                }}
                            </td>
                            <td colspan="4" class="bg-bady-blue">
                                審議コメント
                            </td>
                        </tr>
                        <tr>
                            <td class="bg-dark-blue border-top-0">
                                {{
                                    "label.replying_to_comment" | translate
                                }}
                            </td>
                            <td colspan="4">
                                <textarea
                                    rows="5"
                                    type="text"
                                    class="full-width form-control no-resize"
                                ></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td class="bg-dark-blue border-bottom-0">
                                {{
                                    "label.comments_from_the_deliberation"
                                        | translate : { value: 2 }
                                }}
                            </td>
                            <td colspan="4" class="bg-bady-blue">
                                審議コメント
                            </td>
                        </tr>
                        <tr>
                            <td class="bg-dark-blue border-top-0">
                                {{
                                    "label.replying_to_comment" | translate
                                }}
                            </td>
                            <td colspan="4">
                                <textarea
                                    rows="5"
                                    type="text"
                                    class="full-width form-control no-resize"
                                ></textarea>
                            </td>
                        </tr>


                        <tr>
                            <td class="label-cell bg-dark-blue">
                                {{ "label.forward" | translate }}
                            </td>
                            <td colspan="2" class="bg-bady-blue">鈴木ひかり</td>
                            <td colspan="2" class="bg-bady-blue">2024/05/30 10:23:26</td>
                        </tr>
                        <tr>
                            <td rowspan="2" class="label-cell bg-dark-blue">
                                {{ "label.approval1" | translate }}
                            </td>
                            <td colspan="2" class="bg-bady-blue">田中 かいと</td>
                            <!-- /.approval user1 -->
                            <td
                                rowspan="2"
                                colspan="2"
                                class="bg-bady-blue"
                            >承認</td>
                            <!-- /.comment1 -->
                        </tr>
                        <tr>
                            <td colspan="2" class="bg-bady-blue">2024/05/30 10:24:26</td>
                            <!-- /.approval datetime1 -->
                        </tr>
                        <tr>
                            <td rowspan="2" class="label-cell bg-dark-blue">
                                {{ "label.approval2" | translate }}
                            </td>
                            <td colspan="2" class="bg-bady-blue">小林 だいち</td>
                            <!-- /.approval user2 -->
                            <td
                                rowspan="2"
                                colspan="2"
                                class="bg-bady-blue"
                            >承認</td>
                            <!-- /.comment2 -->
                        </tr>
                        <tr>
                            <td colspan="2" class="bg-bady-blue">2024/05/30 10:25:26</td>
                            <!-- /.approval datetime2 -->
                        </tr>

                        <tr>
                            <td rowspan="7" class="bg-midnight-blue">
                                <div>
                                    {{
                                        "label.notification_of_deliberation_result"
                                            | translate
                                    }}
                                </div>
                                <div>
                                    {{
                                        "label.new_enactment_completed"
                                            | translate
                                    }}
                                </div>
                            </td>
                            <td class="label-cell bg-dark-blue">
                                {{
                                    "label.summary_of_the_results_of_the_discussion"
                                        | translate
                                }}
                            </td>
                            <td colspan="4">
                                <textarea
                                    rows="5"
                                    type="text"
                                    class="full-width form-control no-resize"
                                ></textarea>
                            </td>
                        </tr>

                        <tr>
                            <td class="label-cell bg-dark-blue">
                                {{
                                    "label.modified_standard_document"
                                        | translate
                                }}
                            </td>
                            <td colspan="4">
                                <app-upload></app-upload>
                            </td>
                        </tr>

                        <tr>
                            <td class="label-cell bg-dark-blue">
                                {{
                                    "label.deliberation_results_forwarded"
                                        | translate
                                }}
                            </td>
                            <td colspan="2" class="bg-bady-blue">鈴木ひかり</td>
                            <td colspan="2" class="bg-bady-blue">2024/05/30 10:23:26</td>
                        </tr>
                        <tr>
                            <td rowspan="2" class="label-cell bg-dark-blue">
                                {{ "label.approval1" | translate }}
                            </td>
                            <td colspan="2" class="bg-bady-blue">田中 かいと</td>
                            <!-- /.approval user1 -->
                            <td
                                rowspan="2"
                                colspan="2"
                                class="bg-bady-blue"
                            >承認</td>
                            <!-- /.comment1 -->
                        </tr>
                        <tr>
                            <td colspan="2" class="bg-bady-blue">2024/05/30 10:24:26</td>
                            <!-- /.approval datetime1 -->
                        </tr>
                        <tr>
                            <td rowspan="2" class="label-cell bg-dark-blue">
                                {{ "label.approval2" | translate }}
                            </td>
                            <td colspan="2" class="bg-bady-blue">小林 だいち</td>
                            <!-- /.approval user2 -->
                            <td
                                rowspan="2"
                                colspan="2"
                                class="bg-bady-blue"
                            >承認</td>
                            <!-- /.comment2 -->
                        </tr>
                        <tr>
                            <td colspan="2" class="bg-bady-blue">2024/05/30 10:25:26</td>
                            <!-- /.approval datetime2 -->
                        </tr>

                        <tr>
                            <td rowspan="9" class="bg-blue header-cell w-110">
                                {{ "label.periodic_review" | translate }}
                            </td>
                            <td class="label-cell bg-dark-blue">
                                {{ "label.voter" | translate }}
                            </td>
                            <td colspan="2" class="bg-bady-blue">鈴木ひかり</td>
                            <td colspan="2" class="bg-bady-blue">2024/05/30 10:23:26</td>
                        </tr>
                        <tr>
                            <td class="bg-dark-blue">
                                {{ "label.comment" | translate }}
                            </td>
                            <td colspan="4">
                                <textarea
                                    rows="5"
                                    type="text"
                                    class="full-width form-control no-resize"
                                ></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td class="label-cell bg-dark-blue">
                                <span>{{
                                    "label.maintain_repeal_decision" | translate
                                }}</span>
                            </td>
                            <td colspan="4">
                                <ng-select
                                    [items]="items"
                                    [bindLabel]="'name'"
                                    [bindValue]="'id'"
                                    [notFoundText]="
                                        'message.no_data' | translate
                                    "
                                    [typeToSearchText]="
                                        'label.type_to_search' | translate
                                    "
                                    [appendTo]="'#standard-document-detail'"
                                    [clearable]="false"
                                ></ng-select>
                            </td>
                        </tr>
                        <tr>
                            <td class="label-cell bg-dark-blue">
                                <span>{{
                                    "label.need_for_revision" | translate
                                }}</span>
                            </td>
                            <td colspan="4">
                                <ng-select
                                    [items]="items"
                                    [bindLabel]="'name'"
                                    [bindValue]="'id'"
                                    [notFoundText]="
                                        'message.no_data' | translate
                                    "
                                    [typeToSearchText]="
                                        'label.type_to_search' | translate
                                    "
                                    [appendTo]="'#standard-document-detail'"
                                    [clearable]="false"
                                ></ng-select>
                            </td>
                        </tr>
                        <!-- /.attachment -->
                        <tr>
                            <td class="label-cell bg-dark-blue">
                                {{ "label.forward" | translate }}
                            </td>
                            <td colspan="2" class="bg-bady-blue">鈴木ひかり</td>
                            <td colspan="2" class="bg-bady-blue">2024/05/30 10:23:26</td>
                        </tr>
                        <tr>
                            <td rowspan="2" class="label-cell bg-dark-blue">
                                {{ "label.approval1" | translate }}
                            </td>
                            <td colspan="2" class="bg-bady-blue">田中 かいと</td>
                            <!-- /.approval user1 -->
                            <td
                                rowspan="2"
                                colspan="2"
                                class="bg-bady-blue"
                            >承認</td>
                            <!-- /.comment1 -->
                        </tr>
                        <tr>
                            <td colspan="2" class="bg-bady-blue">2024/05/30 10:24:26</td>
                            <!-- /.approval datetime1 -->
                        </tr>
                        <tr>
                            <td rowspan="2" class="label-cell bg-dark-blue">
                                {{ "label.approval2" | translate }}
                            </td>
                            <td colspan="2" class="bg-bady-blue">小林 だいち</td>
                            <!-- /.approval user2 -->
                            <td
                                rowspan="2"
                                colspan="2"
                                class="bg-bady-blue"
                            >承認</td>
                            <!-- /.comment2 -->
                        </tr>
                        <tr>
                            <td colspan="2" class="bg-bady-blue">2024/05/30 10:25:26</td>
                            <!-- /.approval datetime2 -->
                        </tr>
                        <tr>
                            <td colspan="6"></td>
                        </tr>
                        <tr>
                            <td rowspan="8" class="bg-blue header-cell w-110">
                                {{ "label.revised_standard_draft" | translate }}
                            </td>
                            <td class="label-cell bg-dark-blue">
                                {{ "label.voter" | translate }}
                            </td>
                            <td colspan="2" class="bg-bady-blue">鈴木ひかり</td>
                            <td colspan="2" class="bg-bady-blue">2024/05/30 10:23:26</td>
                        </tr>
                        <tr>
                            <td class="bg-dark-blue">
                                {{
                                    "label.overview_of_the_revision" | translate
                                }}
                            </td>
                            <td colspan="4">
                                <textarea
                                    rows="5"
                                    type="text"
                                    class="full-width form-control no-resize"
                                ></textarea>
                            </td>
                        </tr>

                        <tr>
                            <td class="label-cell bg-dark-blue">
                                <span>{{
                                    "label.standard_document_revision_proposal"
                                        | translate
                                }}</span>
                            </td>
                            <td colspan="4">
                                <app-upload></app-upload>
                            </td>
                        </tr>
                        <!-- /.attachment -->
                        <tr>
                            <td class="label-cell bg-dark-blue">
                                {{ "label.forward" | translate }}
                            </td>
                            <td colspan="2" class="bg-bady-blue">鈴木ひかり</td>
                            <td colspan="2" class="bg-bady-blue">2024/05/30 10:23:26</td>
                        </tr>
                        <tr>
                            <td rowspan="2" class="label-cell bg-dark-blue">
                                {{ "label.approval1" | translate }}
                            </td>
                            <td colspan="2" class="bg-bady-blue">田中 かいと</td>
                            <!-- /.approval user1 -->
                            <td
                                rowspan="2"
                                colspan="2"
                                class="bg-bady-blue"
                            >承認</td>
                            <!-- /.comment1 -->
                        </tr>
                        <tr>
                            <td colspan="2" class="bg-bady-blue">2024/05/30 10:24:26</td>
                            <!-- /.approval datetime1 -->
                        </tr>
                        <tr>
                            <td rowspan="2" class="label-cell bg-dark-blue">
                                {{ "label.approval2" | translate }}
                            </td>
                            <td colspan="2" class="bg-bady-blue">小林 だいち</td>
                            <!-- /.approval user2 -->
                            <td
                                rowspan="2"
                                colspan="2"
                                class="bg-bady-blue"
                            >承認</td>
                            <!-- /.comment2 -->
                        </tr>
                        <tr>
                            <td colspan="2" class="bg-bady-blue">2024/05/30 10:25:26</td>
                            <!-- /.approval datetime2 -->
                        </tr>

                        <tr>
                            <td rowspan="10" class="bg-midnight-blue">
                                {{ "label.deliberation" | translate }}1
                            </td>
                            <td class="bg-dark-blue">
                                {{ "label.deliberator" | translate }}
                            </td>
                            <td class="bg-bady-blue">審議者</td>
                            <td colspan="2" class="bg-dark-blue">
                                {{
                                    "label.designate_person_who_inputs_the_discussion"
                                        | translate
                                }}
                            </td>
                            <td>
                                <div class="d-flex justify-content-between">
                                    <span class="ml-2"></span>
                                    <button
                                        (click)="onSelectUser()"
                                        class="btn bg-blue"
                                        type="button"
                                    >
                                        {{ "label.select" | translate }}
                                    </button>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td class="bg-dark-blue border-bottom-0">
                                {{
                                    "label.comments_from_the_deliberation"
                                        | translate : { value: 1 }
                                }}
                            </td>
                            <td colspan="4" class="bg-bady-blue">
                                審議コメント
                            </td>
                        </tr>
                        <tr>
                            <td class="bg-dark-blue border-top-0">
                                {{
                                    "label.replying_to_comment" | translate
                                }}
                            </td>
                            <td colspan="4">
                                <textarea
                                    rows="5"
                                    type="text"
                                    class="full-width form-control no-resize"
                                ></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td class="bg-dark-blue border-bottom-0">
                                {{
                                    "label.comments_from_the_deliberation"
                                        | translate : { value: 2 }
                                }}
                            </td>
                            <td colspan="4" class="bg-bady-blue">
                                審議コメント
                            </td>
                        </tr>
                        <tr>
                            <td class="bg-dark-blue border-top-0">
                                {{
                                    "label.replying_to_comment" | translate
                                }}
                            </td>
                            <td colspan="4">
                                <textarea
                                    rows="5"
                                    type="text"
                                    class="full-width form-control no-resize"
                                ></textarea>
                            </td>
                        </tr>

                        <tr>
                            <td class="label-cell bg-dark-blue">
                                {{ "label.forward" | translate }}
                            </td>
                            <td colspan="2" class="bg-bady-blue">鈴木ひかり</td>
                            <td colspan="2" class="bg-bady-blue">2024/05/30 10:23:26</td>
                        </tr>
                        <tr>
                            <td rowspan="2" class="label-cell bg-dark-blue">
                                {{ "label.approval1" | translate }}
                            </td>
                            <td colspan="2" class="bg-bady-blue">田中 かいと</td>
                            <!-- /.approval user1 -->
                            <td
                                rowspan="2"
                                colspan="2"
                                class="bg-bady-blue"
                            >承認</td>
                            <!-- /.comment1 -->
                        </tr>
                        <tr>
                            <td colspan="2" class="bg-bady-blue">2024/05/30 10:24:26</td>
                            <!-- /.approval datetime1 -->
                        </tr>
                        <tr>
                            <td rowspan="2" class="label-cell bg-dark-blue">
                                {{ "label.approval2" | translate }}
                            </td>
                            <td colspan="2" class="bg-bady-blue">小林 だいち</td>
                            <!-- /.approval user2 -->
                            <td
                                rowspan="2"
                                colspan="2"
                                class="bg-bady-blue"
                            >承認</td>
                            <!-- /.comment2 -->
                        </tr>
                        <tr>
                            <td colspan="2" class="bg-bady-blue">2024/05/30 10:25:26</td>
                            <!-- /.approval datetime2 -->
                        </tr>


                        <tr>
                            <td rowspan="10" class="bg-blue">
                                {{ "label.deliberation" | translate }}2
                            </td>
                            <td class="bg-dark-blue">
                                {{ "label.deliberator" | translate }}
                            </td>
                            <td class="bg-bady-blue">審議者</td>
                            <td colspan="2" class="bg-dark-blue">
                                {{
                                    "label.designate_person_who_inputs_the_discussion"
                                        | translate
                                }}
                            </td>
                            <td>
                                <div class="d-flex justify-content-between">
                                    <span class="ml-2"></span>
                                    <button
                                        (click)="onSelectUser()"
                                        class="btn bg-blue"
                                        type="button"
                                    >
                                        {{ "label.select" | translate }}
                                    </button>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td class="bg-dark-blue border-bottom-0">
                                {{
                                    "label.comments_from_the_deliberation"
                                        | translate : { value: 1 }
                                }}
                            </td>
                            <td colspan="4" class="bg-bady-blue">
                                審議コメント
                            </td>
                        </tr>
                        <tr>
                            <td class="bg-dark-blue border-top-0">
                                {{
                                    "label.replying_to_comment" | translate
                                }}
                            </td>
                            <td colspan="4">
                                <textarea
                                    rows="5"
                                    type="text"
                                    class="full-width form-control no-resize"
                                ></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td class="bg-dark-blue border-bottom-0">
                                {{
                                    "label.comments_from_the_deliberation"
                                        | translate : { value: 2 }
                                }}
                            </td>
                            <td colspan="4" class="bg-bady-blue">
                                審議コメント
                            </td>
                        </tr>
                        <tr>
                            <td class="bg-dark-blue border-top-0">
                                {{
                                    "label.replying_to_comment" | translate
                                }}
                            </td>
                            <td colspan="4">
                                <textarea
                                    rows="5"
                                    type="text"
                                    class="full-width form-control no-resize"
                                ></textarea>
                            </td>
                        </tr>

                        <tr>
                            <td class="label-cell bg-dark-blue">
                                {{ "label.forward" | translate }}
                            </td>
                            <td colspan="2" class="bg-bady-blue">鈴木ひかり</td>
                            <td colspan="2" class="bg-bady-blue">2024/05/30 10:23:26</td>
                        </tr>
                        <tr>
                            <td rowspan="2" class="label-cell bg-dark-blue">
                                {{ "label.approval1" | translate }}
                            </td>
                            <td colspan="2" class="bg-bady-blue">田中 かいと</td>
                            <!-- /.approval user1 -->
                            <td
                                rowspan="2"
                                colspan="2"
                                class="bg-bady-blue"
                            >承認</td>
                            <!-- /.comment1 -->
                        </tr>
                        <tr>
                            <td colspan="2" class="bg-bady-blue">2024/05/30 10:24:26</td>
                            <!-- /.approval datetime1 -->
                        </tr>
                        <tr>
                            <td rowspan="2" class="label-cell bg-dark-blue">
                                {{ "label.approval2" | translate }}
                            </td>
                            <td colspan="2" class="bg-bady-blue">小林 だいち</td>
                            <!-- /.approval user2 -->
                            <td
                                rowspan="2"
                                colspan="2"
                                class="bg-bady-blue"
                            >承認</td>
                            <!-- /.comment2 -->
                        </tr>
                        <tr>
                            <td colspan="2" class="bg-bady-blue">2024/05/30 10:25:26</td>
                            <!-- /.approval datetime2 -->
                        </tr>

                        <tr>
                            <td rowspan="7" class="bg-midnight-blue">
                                <div>
                                    {{
                                        "label.notification_of_deliberation_result"
                                            | translate
                                    }}
                                </div>
                                <div>
                                    {{ "label.revision_complete" | translate }}
                                </div>
                            </td>
                            <td class="label-cell bg-dark-blue">
                                {{
                                    "label.summary_of_the_results_of_the_discussion"
                                        | translate
                                }}
                            </td>
                            <td colspan="4">
                                <textarea
                                    rows="5"
                                    type="text"
                                    class="full-width form-control no-resize"
                                ></textarea>
                            </td>
                        </tr>

                        <tr>
                            <td class="label-cell bg-dark-blue">
                                {{
                                    "label.modified_standard_document"
                                        | translate
                                }}
                            </td>
                            <td colspan="4">
                                <app-upload></app-upload>
                            </td>
                        </tr>

                        <tr>
                            <td class="label-cell bg-dark-blue">
                                {{
                                    "label.deliberation_results_forwarded"
                                        | translate
                                }}
                            </td>
                            <td colspan="2" class="bg-bady-blue">鈴木ひかり</td>
                            <td colspan="2" class="bg-bady-blue">2024/05/30 10:23:26</td>
                        </tr>
                        <tr>
                            <td rowspan="2" class="label-cell bg-dark-blue">
                                {{ "label.approval1" | translate }}
                            </td>
                            <td colspan="2" class="bg-bady-blue">田中 かいと</td>
                            <!-- /.approval user1 -->
                            <td
                                rowspan="2"
                                colspan="2"
                                class="bg-bady-blue"
                            >承認</td>
                            <!-- /.comment1 -->
                        </tr>
                        <tr>
                            <td colspan="2" class="bg-bady-blue">2024/05/30 10:24:26</td>
                            <!-- /.approval datetime1 -->
                        </tr>
                        <tr>
                            <td rowspan="2" class="label-cell bg-dark-blue">
                                {{ "label.approval2" | translate }}
                            </td>
                            <td colspan="2" class="bg-bady-blue">小林 だいち</td>
                            <!-- /.approval user2 -->
                            <td
                                rowspan="2"
                                colspan="2"
                                class="bg-bady-blue"
                            >承認</td>
                            <!-- /.comment2 -->
                        </tr>
                        <tr>
                            <td colspan="2" class="bg-bady-blue">2024/05/30 10:25:26</td>
                            <!-- /.approval datetime2 -->
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </form>
    </div>
</div>
