<app-content-header
    [pageTitle]="'label.topic_list' | translate"
    [breadcrumbs]="'label.topic_list' | translate"></app-content-header>
<fieldset class="search-box">
    <legend>{{ 'label.search' | translate }}</legend>
    <form
        [formGroup]="searchForm"
        (ngSubmit)="onSearch()">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <input
                        type="text"
                        class="form-control"
                        formControlName="keyword"
                        placeholder="{{ 'label.keyword' | translate }}" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center">
                <button
                    class="btn btn-danger mr-2"
                    type="button"
                    (click)="onResetSearch()">
                    <i class="fa fa-eraser mr-2"></i>{{ 'label.reset' | translate }}
                </button>
                <button
                    class="btn btn-primary"
                    type="submit">
                    <i class="fa fa-search mr-2"></i>{{ 'label.search' | translate }}
                </button>
            </div>
        </div>
    </form>
</fieldset>
<div class="action-box">
    <div class="row column-reverse">
        <div class="col align-self-end">
            {{ 'label.search_result_count' | translate }}:
            <span class="search-result-total-count">{{ searchResultCount }}{{ 'label.record' | translate }}</span>
        </div>
        <div class="col-auto btns-box">
            <button
                class="btn btn-primary"
                type="button"
                (click)="onGoBack()">
                <i class="mr-2 fa-solid fa-xmark"></i>{{ 'label.close' | translate }}
            </button>
        </div>
    </div>
</div>
<!-- /.action-box -->
<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table
                tableFilter
                [url]="Constants.API_URL.TOPICS.FILTER_COLUMN"
                (filterChanged)="filterChanged($event)"
                class="table table-bordered table-head-fixed">
                <thead>
                    <tr>
                        <th
                            columnFilterName="subject"
                            class="minw-200">
                            {{ 'label.topic_title' | translate }}
                        </th>
                        <th
                            columnFilterName="status"
                            class="w-200">
                            {{ 'label.status' | translate }}
                        </th>
                        <th
                            columnFilterName="notice_no"
                            class="w-140">
                            {{ 'label.transfer_number' | translate }}
                        </th>
                        <th
                            columnFilterName="deadline"
                            class="w-200">
                            {{ 'label.implementation_period' | translate }}
                        </th>
                        <th
                            columnFilterName="completion_date"
                            class="w-200">
                            {{ 'label.date_of_completion' | translate }}
                        </th>
                    </tr>
                </thead>
                @if (Lib.isValidArrayData(topicList)) {
                <tbody>
                    @for (item of topicList; track $index) {
                    <tr>
                        <td>
                            <a
                                class="blue d-inline"
                                (click)="onDetail(item)">
                                <span>{{ item.subject }}</span>
                            </a>
                        </td>
                        <td>{{ item.status }}</td>
                        <td class="text-right">
                            <a class="blue d-inline"
                                (click)="onGoNoticeDetail(item.notice_no)">
                                <span>{{ item.notice_no }}</span>
                            </a>
                        </td>
                        <td>{{ item.deadline }}</td>
                        <td>{{ item.completion_date }}</td>
                    </tr>
                    }
                </tbody>
                } @else {
                <tfoot>
                    <tr>
                        <td colspan="5">{{ 'message.no_data' | translate }}</td>
                    </tr>
                </tfoot>
                }
            </table>
        </div>
        <!-- /.table-responsive -->
        <app-pagination
            [page]="currentPage"
            [totalRow]="searchResultCount"
            (changePage)="onPaginationChange($event)">
        </app-pagination>
    </div>
</div>
