<app-content-header
    [pageTitle]="'label.create' | translate"
    [breadcrumbs]="breadcrumbsCreate"
></app-content-header>

<div class="card" id="inspection-data-detail">
    <div class="card-body">
        <form>
            <div class="action-box">
                <div class="btns-box">
                    <button class="btn btn-primary" type="submit">
                        <i class="mr-2 fa fa-save"></i
                        >{{ "label.save" | translate }}
                    </button>
                    <button class="btn btn-primary" type="button">
                        <i class="mr-2 fa-solid fa-arrow-right-arrow-left"></i>
                        {{ "label.forward" | translate }}
                    </button>
                    <button
                        class="btn btn-primary"
                        type="button"
                        (click)="onGoBack()"
                    >
                        <i class="mr-2 fa-solid fa-xmark"></i
                        >{{ "label.close" | translate }}
                    </button>
                </div>
            </div>
            <!-- /.action -->
            <div class="table-responsive">
                <table class="table table-bordered table-form table-header">
                    <tbody>
                        <tr>
                            <td class="w-110 label-cell bg-dark-blue">
                                {{ "label.target_date" | translate }}
                            </td>
                            <td class="w-300">
                                <div class="date-picker-group m-0">
                                    <input
                                        class="form-control control-date-picker input-group-text"
                                        placeholder="YYYY/MM/DD"
                                        [readonly]="true"
                                        name="start_date"
                                        maxlength="10"
                                        (click)="targetDate.toggle()"
                                        ngbDatepicker
                                        #targetDate="ngbDatepicker"
                                    />
                                    <div
                                        class="input-group-append cursor-pointer"
                                        (click)="targetDate.toggle()"
                                    >
                                        <span class="input-group-text"
                                            ><i class="fa fa-calendar"></i
                                        ></span>
                                    </div>
                                </div>
                            </td>
                            <td class="label-cell bg-dark-blue">
                                {{ "label.forwarder" | translate }}
                            </td>
                            <td class="w-180 bg-bady-blue">鈴木ひかり</td>
                            <td rowspan="2" class="label-cell bg-dark-blue">
                                {{ "label.approval1" | translate }}
                            </td>
                            <td class="bg-bady-blue w-180">田中 かいと</td>
                            <td rowspan="2" class="bg-bady-blue minw-160">承認</td>
                            <td rowspan="2" class="label-cell bg-dark-blue">
                                {{ "label.approval2" | translate }}
                            </td>
                            <td class="bg-bady-blue w-180">小林 だいち</td>
                            <td rowspan="2" class="bg-bady-blue minw-160">承認</td>
                        </tr>
                        <tr>
                            <td class="w-110 label-cell bg-dark-blue">
                                {{
                                    "label.target_management_group" | translate
                                }}
                            </td>
                            <td class="w-110">
                                <ng-select
                                    [items]="items"
                                    [bindLabel]="'name'"
                                    [bindValue]="'id'"
                                    [notFoundText]="
                                        'message.no_data' | translate
                                    "
                                    [typeToSearchText]="
                                        'label.type_to_search' | translate
                                    "
                                    [appendTo]="'#inspection-data-detail'"
                                    [clearable]="false"
                                ></ng-select>
                            </td>
                            <td class="label-cell bg-dark-blue">
                                {{ "label.forwarding_date" | translate }}
                            </td>
                            <td class="bg-bady-blue">2024/06/03 10:23:26</td>
                            <td class="bg-bady-blue">2024/06/04 10:23:26</td>
                            <td class="bg-bady-blue">2024/06/04 10:23:26</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.header table -->
            <div class="table-responsive">
                <table class="table table-bordered table-head-fixed">
                    <tbody>
                        <tr>
                            <td class="w-150 bg-dark-blue">
                                {{ "label.management_group" | translate }}
                            </td>
                            <td class="w-150 bg-dark-blue">
                                {{ "label.facilities_processes" | translate }}
                            </td>
                            <td class="w-150 bg-dark-blue">
                                {{ "label.inspection_items" | translate }}
                            </td>
                            <td class="minw-200 bg-dark-blue">
                                {{ "label.inspection_results" | translate }}
                            </td>
                            <td class="w-50 bg-dark-blue">
                                {{ "label.unit" | translate }}
                            </td>
                            <td class="w-100 bg-dark-blue">
                                {{ "label.judgement" | translate }}
                            </td>
                            <td class="w-120 bg-dark-blue">
                                {{ "label.findings_comment" | translate }}
                            </td>
                            <td class="w-200 bg-dark-blue">
                                {{ "label.comments_opinions" | translate }}
                            </td>
                            <td class="w-100 bg-dark-blue">
                                <div class="text-center">
                                    {{ "label.usl" | translate }}
                                </div>
                                <div>
                                    {{
                                        "label.upper_limit_specification_value"
                                            | translate
                                    }}
                                </div>
                            </td>
                            <td class="w-100 bg-dark-blue">
                                <div class="text-center">
                                    {{ "label.lsl" | translate }}
                                </div>
                                <div>
                                    {{
                                        "label.lower_limit_specification_value"
                                            | translate
                                    }}
                                </div>
                            </td>
                            <td class="w-100 bg-dark-blue">
                                <div class="text-center">
                                    {{ "label.ucl" | translate }}
                                </div>
                                <div>
                                    {{
                                        "label.upper_limit_control_value"
                                            | translate
                                    }}
                                </div>
                            </td>
                            <td class="w-100 bg-dark-blue">
                                <div class="text-center">
                                    {{ "label.lcl" | translate }}
                                </div>
                                <div>
                                    {{
                                        "label.lower_limit_control_value"
                                            | translate
                                    }}
                                </div>
                            </td>
                            <td class="w-100 bg-dark-blue">
                                {{ "label.3sigma_management" | translate }}
                            </td>
                            <td class="w-100 bg-dark-blue">
                                {{ "label.m_plus_3sigma" | translate }}
                            </td>
                            <td class="w-100 bg-dark-blue">
                                {{ "label.m_minus_3sigma" | translate }}
                            </td>
                            <td class="w-100 bg-dark-blue">
                                {{ "label.review_cycle" | translate }}
                            </td>
                            <td class="w-150 bg-dark-blue">
                                {{ "label.trend_graph" | translate }}
                            </td>
                        </tr>
                        <!-- /.header -->
                        @for (item of inspectionDataTable?.records; track
                        $index) {
                        <tr>
                            <td class="bg-bady-blue">
                                {{ item.management_group }}
                            </td>
                            <td class="bg-bady-blue">
                                {{ item.facilities_processes }}
                            </td>
                            <td class="bg-bady-blue">
                                {{ item.inspection_items }}
                            </td>
                            <td>
                                <input
                                    type="text"
                                    class="form-control full-width"
                                />
                            </td>
                            <td class="bg-bady-blue">{{ item.unit }}</td>
                            <td class="bg-bady-blue">判定</td>
                            <td>
                                <ng-select
                                    [items]="commentList"
                                    [bindLabel]="'name'"
                                    [bindValue]="'id'"
                                    [notFoundText]="
                                        'message.no_data' | translate
                                    "
                                    [typeToSearchText]="
                                        'label.type_to_search' | translate
                                    "
                                    [appendTo]="'#inspection-data-detail'"
                                    [clearable]="false"
                                ></ng-select>
                            </td>
                            <td>
                                <input
                                    type="text"
                                    class="form-control full-width"
                                />
                            </td>
                            <td class="bg-bady-blue">{{ item.usl }}</td>
                            <td class="bg-bady-blue">{{ item.lsl }}</td>
                            <td class="bg-bady-blue">{{ item.ucl }}</td>
                            <td class="bg-bady-blue">{{ item.lcl }}</td>
                            <td class="bg-bady-blue">
                                {{ item.sigma_management }}
                            </td>
                            <td class="bg-bady-blue">
                                {{ item.m_plus_sigma }}
                            </td>
                            <td class="bg-bady-blue">
                                {{ item.m_minus_sigma }}
                            </td>
                            <td class="bg-bady-blue">
                                {{ item.review_cycle }}
                            </td>
                            <td>
                                <a class="blue d-inline">
                                    <span>{{ item.trend_graph }}</span>
                                </a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </form>
    </div>
</div>
