@if (isEdit) {
    <app-content-header
        [pageTitle]="'label.detail' | translate"
        [breadcrumbs]="breadcrumbsDetail"
    ></app-content-header>
    } @else {
    <app-content-header
        [pageTitle]="'label.create' | translate"
        [breadcrumbs]="breadcrumbsCreate"
    ></app-content-header>
    }
    <div class="card" id="notice-detail">
        <div class="card-body">
            <form [formGroup]="form" (ngSubmit)="onSave(this.isEdit ? 1 : 0)">
                <div class="action-box">
                    <div class="btns-box">
                        <button
                            (click)="onCreateNew()"
                            class="btn btn-primary"
                            type="button"
                        >
                            <i class="mr-2 fa-solid fa-plus"></i
                            >{{ "label.new_request" | translate }}
                        </button>
                        <button class="btn btn-primary" type="submit">
                            <i class="mr-2 fa fa-save"></i
                            >{{ "label.save" | translate }}
                        </button>
                        <button class="btn btn-primary" type="button" (click)="onSave(2)">
                            <i class="mr-2 fa-solid fa-arrow-right-arrow-left"></i>
                            {{ "label.transmission" | translate }}
                        </button>
                        <button class="btn btn-primary" type="button">
                            <i class="mr-2 fa-solid fa-download"></i
                            >{{ "label.pdf" | translate }}
                        </button>
                        <button
                            class="btn btn-primary"
                            type="button"
                            (click)="onGoBack()"
                        >
                            <i class="mr-2 fa-solid fa-xmark"></i
                            >{{ "label.close" | translate }}
                        </button>
                    </div>
                </div>
                <!-- /.action -->
                @if (Lib.isValidArrayData(validator.errors)) {
                <div class="row">
                    <div class="col-12">
                        <app-form-errors
                            [errors]="validator.errors"
                        ></app-form-errors>
                    </div>
                </div>
                }
                <div>
                    <div class="table-responsive">
                        <table class="table table-bordered table-form table-header">
                            <tbody>
                                <tr>
                                    <td class="w-110 label-cell bg-dark-blue">
                                        <span>{{ "label.control_number" | translate }}</span>
                                    </td>
                                    <td class="w-110 bg-bady-blue">
                                        {{ noticeInfo.notice_no }}
                                    </td>
                                    <td class="label-cell bg-dark-blue">
                                        <span>{{ "label.office" | translate }}</span>
                                    </td>
                                    <td class="bg-bady-blue">
                                        {{ noticeInfo.office_subname }}
                                    </td>
                                    <td class="label-cell bg-dark-blue">
                                        <span>{{ "label.status" | translate }}</span>
                                    </td>
                                    <td class="bg-bady-blue">
                                        {{ getStatusName(noticeInfo.status_id) }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.header table -->
                    <div class="table-responsive">
                        <table class="table table-bordered table-head-fixed table-form">
                            <tbody>
                                <tr>
                                    <td class="w-110 bg-blue header-cell" rowspan="7">
                                        <span>{{ "label.notice_content" | translate }}</span>
                                    </td>
                                    <td class="label-cell bg-dark-blue required">
                                        <span>{{ "label.subject" | translate }}</span>
                                    </td>
                                    <td colspan="4">
                                        <input
                                            type="text"
                                            class="full-width form-control"
                                            formControlName="subject"
                                            [(ngModel)]="noticeInfo.subject"
                                        />
                                    </td>
                                </tr>
                                <!-- /.subject -->
                                <tr>
                                    <td class="label-cell bg-dark-blue required">
                                        <span>{{ "label.occurrence_date" | translate }}</span>
                                    </td>
                                    <td>
                                        <div class="date-picker-group m-0">
                                            <input
                                                formControlName="event_date"
                                                class="form-control control-date-picker input-group-text"
                                                placeholder="YYYY/MM/DD"
                                                [readonly]="true"
                                                name="start_date"
                                                maxlength="10"
                                                (click)="startDate.toggle()"
                                                ngbDatepicker
                                                #startDate="ngbDatepicker"
                                                [(ngModel)]="noticeInfo.event_date"
                                            />
                                            <div
                                                class="input-group-append cursor-pointer"
                                                (click)="startDate.toggle()"
                                            >
                                                <span class="input-group-text"
                                                    ><i class="fa fa-calendar"></i
                                                ></span>
                                            </div>
                                        </div>
                                        @if (form.controls['event_date'].invalid) {
                                        <p
                                            class="control-error"
                                            errorMessage="event_date"
                                        ></p>
                                        }
                                    </td>
                                    <!-- /.occurrence date -->
                                    <td colspan="2" class="label-cell bg-dark-blue required">
                                        <span>{{ "label.target_building" | translate }}</span>
                                    </td>
                                    <td>
                                        <app-autocomplete
                                            formControlName="building_id"
                                            [items]="buildingSelectE.list"
                                            [searchUrl]="Constants.API_URL.DIVISIONS.DROPDOWN"
                                            [params]="buildingParams"
                                            [bindLabel]="'candidate'"
                                            [bindValue]="'division_id'"
                                            [clearable]="true"
                                            [(ngModel)]="noticeInfo.building_id"
                                        ></app-autocomplete>
                                    </td>
                                    <!-- /.target building -->
                                </tr>
                                <tr>
                                    <td class="label-cell bg-dark-blue required">
                                        <span>{{ "label.root_cause_type" | translate }}</span>
                                    </td>
                                    <td>
                                        <app-autocomplete
                                            formControlName="fuel_type"
                                            [items]="fuelTypeSelectE.list"
                                            [searchUrl]="Constants.API_URL.ITEMS.DROPDOWN"
                                            [params]="fuelParams"
                                            [bindLabel]="'item_name'"
                                            [bindValue]="'item_no'"
                                            [clearable]="true"
                                            [(ngModel)]="noticeInfo.fuel_type"
                                            (selectChange)="fuelChange($event)"
                                        ></app-autocomplete>
                                    </td>
                                    <!-- /.driving type -->
                                    <td colspan="2" class="label-cell bg-dark-blue">
                                        <span>{{ "label.facility" | translate }}</span>
                                    </td>
                                    <td>
                                        <app-autocomplete
                                            formControlName="facility_id"
                                            [items]="facilitySelectE.list"
                                            [searchUrl]="Constants.API_URL.DIVISIONS.DROPDOWN"
                                            [params]="facilityParams"
                                            [bindLabel]="'candidate'"
                                            [bindValue]="'division_id'"
                                            [clearable]="true"
                                            [(ngModel)]="noticeInfo.facility_id"
                                        ></app-autocomplete>
                                    </td>
                                    <!-- /.facility -->
                                </tr>
                                <tr>
                                    <td class="label-cell bg-dark-blue">
                                        <span>{{ "label.facility_detail1" | translate }}</span>
                                    </td>
                                    <td>
                                        <input
                                            type="text"
                                            class="full-width form-control"
                                            formControlName="facility_detail1"
                                            [(ngModel)]="noticeInfo.facility_detail1"
                                        />
                                    </td>
                                    <!-- /.facility detail 1 -->
                                    <td colspan="2" class="label-cell bg-dark-blue">
                                        <span>{{
                                            "label.facility_detail2" | translate
                                        }}</span>
                                    </td>
                                    <td>
                                        <input
                                            type="text"
                                            class="full-width form-control"
                                            formControlName="facility_detail2"
                                            [(ngModel)]="noticeInfo.facility_detail2"
                                        />
                                    </td>
                                    <!-- /.facility detail 2 -->
                                </tr>
                                <tr>
                                    <td class="label-cell bg-dark-blue">
                                        <span>{{ "label.person_in_charge" | translate }}</span>
                                    </td>
                                    <td colspan="4">
                                        <app-autocomplete
                                            formControlName="user_id"
                                            [items]="userSelectE.list"
                                            [searchUrl]="Constants.API_URL.USERS.ALL_LIST"
                                            [bindLabel]="'user_fullname'"
                                            [bindValue]="'user_id'"
                                            [clearable]="true"
                                            [(ngModel)]="noticeInfo.user_id"
                                        ></app-autocomplete>
                                    </td>
                                </tr>
                                <!-- /.person in charge -->
                                <tr>
                                    <td class="label-cell bg-dark-blue required">
                                        <span>{{ "label.phenomenon" | translate }}</span>
                                    </td>
                                    <td colspan="4">
                                        <textarea
                                            rows="6"
                                            class="full-width form-control"
                                            formControlName="detail"
                                            [(ngModel)]="noticeInfo.detail"
                                        ></textarea>
                                    </td>
                                </tr>
                                <!-- /.description -->
                                <tr>
                                    <td class="label-cell bg-dark-blue">
                                        <span>{{ "label.attached_file" | translate }}</span>
                                    </td>
                                    <td colspan="4">
                                        <app-upload [processingUploads]="noticeUploadFiles" (selectedFilesChange)="noticeSelectedFilesChange($event)"></app-upload>
                                        <input type="hidden" formControlName="attached_file">
                                    </td>
                                </tr>
                                <!-- /.upload -->
                                <tr>
                                    <td class="bg-midnight-blue header-cell" rowspan="4">
                                        <span>{{ "label.announcement" | translate }}</span>
                                    </td>
                                    <td class="label-cell bg-dark-blue">
                                        <span>{{ "label.destination_specification_recipient" | translate }}</span>
                                    </td>
                                    <td colspan="4">
                                        <app-autocomplete
                                            [multiple]="true"
                                            formControlName="recipient_ids"
                                            [items]="recipientSelectE.list"
                                            [searchUrl]="Constants.API_URL.USERS.USER_UNION_GROUP"
                                            [bindLabel]="'tag_name'"
                                            [bindValue]="'select_id'"
                                            [clearable]="false"
                                        ></app-autocomplete>
                                    </td>
                                    <!-- /.user list -->
                                </tr>
                                <tr>
                                    <td class="label-cell bg-dark-blue">
                                        <span>{{ "label.notification_sender" | translate }}</span>
                                    </td>
                                    <td class="bg-bady-blue" colspan="2">
                                        {{ getUserFullNameByUserId(noticeInfo.broadcast_user_id ?? 0) }}
                                    </td>
                                    <td class="bg-bady-blue" colspan="2">
                                        {{ noticeInfo.broadcast_datetime }}
                                    </td>
                                </tr>
                                <!-- /.sender -->
                                <tr>
                                    <td class="label-cell bg-dark-blue">
                                        <span>{{ "label.close_info" | translate }}</span>
                                    </td>
                                    <td class="bg-bady-blue" colspan="2">
                                        {{ getUserFullNameByUserId(noticeInfo.close_user_id ?? 0) }}
                                    </td>
                                    <td class="bg-bady-blue" colspan="2">
                                        {{ noticeInfo.close_datetime }}
                                    </td>
                                </tr>
                                <!-- /.user close -->
                            </tbody>
                        </table>
                        <!-- /.table -->
                    </div>
                </div>
            </form>

            @if (isEdit) {
            <div class="action-box mt-3">
                <div class="row justify-content-end">
                    <div class="col-auto btns-box">
                        <button class="btn btn-primary" type="button" (click)="onDailyReport()">
                            {{ "label.daily_report_posting" | translate }}
                        </button>
                        <button class="btn btn-primary" type="button" (click)="onNoticeClose()">
                            {{ "label.case_close" | translate }}
                        </button>
                    </div>
                </div>
            </div>
            <!-- /.button control -->
            }
        </div>
    </div>

    @if (isEdit) {
    <div class="card mt-2">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td class="bg-black text-center" colspan="3">
                                {{ "label.related_chat" | translate }}
                            </td>
                        </tr>
                        @for (item of commentList; track item) { @if (item.isEdit)
                        {
                        <tr>
                            <td colspan="3">
                                <textarea
                                    [(ngModel)]="item.post_message"
                                    rows="5"
                                    class="form-control full-width"
                                    >{{ item.post_message }}</textarea
                                >
                                <div class="row mt-2">
                                    <div class="col-12 col-sm-8">
                                        <app-upload [processingUploads]="noticeCommentUploadFiles" (selectedFilesChange)="noticeCommentSelectedFilesChange($event)"></app-upload>
                                    </div>
                                    <div
                                        class="col-12 mt-3 mt-sm-0 col-sm-4 text-sm-right text-center"
                                    >
                                        <button
                                            (click)="onCancelEditComment(item)"
                                            class="btn btn-primary mr-2"
                                            type="button"
                                        >
                                            <i class="fas fa-times"></i>
                                            {{ "label.cancel" | translate }}
                                        </button>
                                        <button
                                            class="btn btn-primary"
                                            type="button"
                                            (click)="onUpdateNoticeComment(item)"
                                        >
                                            <i class="fa fa-save mr-2"></i>
                                            {{ "label.save" | translate }}
                                        </button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <!-- /.edit comment -->
                        } @else {
                        <tr>
                            <td class="w-200 bg-bady-blue">{{ item.post_user_fullname }}</td>
                            <td class="w-170 bg-bady-blue">
                                {{ item.post_datetime }}
                            </td>
                            <td class="minw-500 bg-bady-blue">
                                <div class="d-flex justify-content-between">
                                    <div class="message align-self-center pr-5">
                                        <p class="mb-0" [innerText]="item.post_message"></p>
                                        <div class="attachment">
                                            <a *ngFor="let file of item.files" class="text-underline">{{ file.name }}</a>
                                        </div>
                                    </div>
                                    <div class="control">
                                        <div class="d-flex mb-2 react-box">
                                            <div class="react" (click)="onReaction(item, 'like')">
                                                <i class="fa-solid fa-thumbs-up"></i>
                                                <span>{{ item.like }}</span>
                                            </div>
                                            <div class="react" (click)="onReaction(item, 'good')">
                                                <i class="fa-solid fa-heart"></i>
                                                <span>{{ item.good }}</span>
                                            </div>
                                            <div class="react" (click)="onReaction(item, 'smile')">
                                                <i class="fa-regular fa-face-smile"></i>
                                                <span>{{ item.smile }}</span>
                                            </div>
                                            <div class="react" (click)="onReaction(item, 'surprise')">
                                                <i class="fa-regular fa-face-surprise"></i>
                                                <span>{{ item.surprise }}</span>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-end" *ngIf="item.post_user_id === userLogin.user_id">
                                            <button
                                                (click)="onShowEditComment(item)"
                                                class="btn btn-primary"
                                                type="button"
                                            >
                                                <i class="mr-2 fas fa-edit"></i>
                                                {{
                                                    "label.modification" | translate
                                                }}
                                            </button>
                                            <button
                                                (click)="onDeleteComment(item)"
                                                class="btn btn-danger ml-2"
                                                type="button"
                                            >
                                                <i
                                                    class="mr-2 fas fa-trash-alt"
                                                ></i>
                                                {{ "label.del" | translate }}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <!-- /.comment detail -->
                        } }
                    </tbody>
                </table>
            </div>
            <!-- pagination comments -->
            <app-pagination
                [isPage]="false"
                [page]="noticeCommentSearchE.page ?? 0"
                [totalRow]="noticeCommentSearchE.total_row ?? 0"
                (changePage)="onPaginationNoticeCommentsChange($event)"
                >
            </app-pagination>
            <!--  -->
            <div class="mt-2">
                <form [formGroup]="noticeCommentForm" (ngSubmit)="onSaveNoticeComment()">
                    @if (Lib.isValidArrayData(noticesCommentsValidator.errors)) {
                        <app-form-errors [errors]="noticesCommentsValidator.errors" />
                    }
                    <div>
                        <span>{{ "label.new_message" | translate }}</span>
                    </div>
                    <div>
                        <textarea rows="4" formControlName="post_message" class="form-control full-width"></textarea>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12 col-sm-8">
                            <app-upload [processingUploads]="commentUploadFiles" (selectedFilesChange)="commentSelectedFilesChange($event)"></app-upload>
                        </div>
                        <div
                            class="col-12 mt-3 mt-sm-0 col-sm-4 text-sm-right text-center"
                        >
                            <button class="btn btn-primary" type="submit">
                                {{ "label.post" | translate }}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- /.post comment -->
        </div>
    </div>
    }
