<app-content-header
    [pageTitle]="'label.division_setting' | translate"
    [breadcrumbs]="'label.division_setting' | translate"
></app-content-header>

<div class="action-box">
    <div class="row">
        <div class="col-12 text-right">
            <button
                class="btn btn-primary mr-2"
                type="button"
                (click)="onAddNew()"
            >
                <i class="fa fa-plus mr-2"></i
                >{{ "label.new_registration" | translate }}
            </button>
            <button class="btn btn-primary" type="button" (click)="onGoBack()">
                <i class="mr-2 fa-solid fa-xmark"></i
                >{{ "label.close" | translate }}
            </button>
        </div>
    </div>
</div>
<!-- /.action-box -->
<div class="card" id="division-list">
    <div class="card-body">
        @if (Lib.isValidArrayData(validator.errors)) {
            <div class="row">
                <div class="col-12">
                    <app-form-errors
                        [errors]="validator.errors"
                    ></app-form-errors>
                </div>
            </div>
        }
        <div overlayScrollbars #scrollbar>
            <div
                #viewPort
                infiniteScroll
                (scrolled)="onLoadMore()"
                [infiniteScrollDistance]="1"
                [scrollWindow]="false"
                class="table-responsive"
                style="max-height: calc(100vh - 250px)"
            >
                <table tableFilter
                    [url]="Constants.API_URL.DIVISIONS.FILTER_COLUMN"
                    (filterChanged)="filterChanged($event)"
                    [filterData]="filter" class="table table-bordered table-head-fixed">
                    <thead>
                        <tr>
                            <th class="w-50 text-center">
                                {{ "label.manipulation" | translate }}
                            </th>
                            <th columnFilterName="function_name" class="w-200">
                                {{ "label.business_management_function" | translate }}
                            </th>
                            <th columnFilterName="page_name" class="w-200 text-nowrap">
                                {{ "label.report_list" | translate }}
                            </th>
                            <th columnFilterName="item_name" class="w-200 text-nowrap">
                                {{ "label.field" | translate }}
                            </th>
                            <th class="minw-210 text-nowrap" columnFilterName="candidate">
                                {{ "label.input_display_suggestion" | translate }}
                            </th>
                        </tr>
                    </thead>
                    @if (Lib.isValidArrayData(divisionList)) {
                    <tbody>
                        @for (item of divisionList; track item; let index =
                        $index) {
                        <tr>
                            @if (item.is_edit) {
                            <td class="text-center">
                                <div class="tbl-btn-group">
                                    <a
                                        (click)="onSave(item)"
                                        class="save"
                                        title="{{ 'label.save' | translate }}"
                                        ><i class="fa-solid fa-check"></i
                                    ></a>
                                    <a
                                        (click)="onCancel(item, index)"
                                        class="del"
                                        title="{{ 'label.cancel' | translate }}"
                                        ><i
                                            class="fa-regular fa-circle-xmark"
                                        ></i
                                    ></a>
                                </div>
                            </td>
                            <td>
                                <ng-select
                                    [items]="functionListSelect ?? null"
                                    [(ngModel)]="item.function_id"
                                    [bindLabel]="'function_name'"
                                    [bindValue]="'function_no'"
                                    [notFoundText]="
                                        'message.no_data' | translate
                                    "
                                    [typeToSearchText]="
                                        'label.type_to_search' | translate
                                    "
                                    [appendTo]="'#division-list'"
                                    (change)="selectFunctionChanged(item)"
                                    [class.invalid]="item.function_id_invalid"
                                    [clearable]="false"
                                ></ng-select>
                            </td>
                            <td>
                                <ng-select
                                    [items]="pageListSelect ?? null"
                                    [(ngModel)]="item.page_id"
                                    [bindLabel]="'page_name'"
                                    [bindValue]="'page_no'"
                                    [notFoundText]="
                                        'message.no_data' | translate
                                    "
                                    [typeToSearchText]="
                                        'label.type_to_search' | translate
                                    "
                                    [appendTo]="'#division-list'"
                                    (change)="selectPageChanged(item)"
                                    [class.invalid]="item.page_id_invalid"
                                    [clearable]="false"
                                ></ng-select>
                            </td>
                            <td>
                                <ng-select
                                    [items]="itemListSelect ?? null"
                                    [(ngModel)]="item.item_id"
                                    [bindLabel]="'item_name'"
                                    [bindValue]="'item_no'"
                                    [notFoundText]="
                                        'message.no_data' | translate
                                    "
                                    [typeToSearchText]="
                                        'label.type_to_search' | translate
                                    "
                                    [appendTo]="'#division-list'"
                                    (change)="selectItemChanged(item)"
                                    [class.invalid]="item.item_id_invalid"
                                    [clearable]="false"
                                ></ng-select>
                            </td>
                            <td>
                                <input
                                    [disabled]="!item.candidate_input_control"
                                    type="text"
                                    class="full-width form-control"
                                    [class.border-danger]="
                                        item.candidate_invalid
                                    "
                                    [(ngModel)]="item.candidate"
                                    (input)="onCandidateTyping(item, $event)"
                                />
                            </td>
                            } @else {
                            <td class="text-center">
                                <div class="tbl-btn-group">
                                    <a
                                        (click)="onEdit(item)"
                                        class="edit"
                                        title="{{ 'label.edit' | translate }}"
                                        ><i class="fas fa-edit"></i
                                    ></a>
                                    <a
                                        (click)="onDelete(item, index)"
                                        class="del"
                                        title="{{ 'label.delete' | translate }}"
                                        ><i class="fas fa-trash-alt"></i
                                    ></a>
                                </div>
                            </td>
                            <td>
                                {{ getFunctionName(item.function_id) }}
                            </td>
                            <td>
                                {{ getPageName(item.page_id) }}
                            </td>
                            <td>
                                {{ getItemName(item.item_id) }}
                            </td>
                            <td>
                                {{ item.candidate }}
                            </td>
                            }
                        </tr>
                        }
                    </tbody>
                    } @else {
                    <tfoot>
                        <tr>
                            <td class="text-center" colspan="5">
                                {{ "message.no_data" | translate }}
                            </td>
                        </tr>
                    </tfoot>
                    }
                </table>
                <!-- /.table-responsive -->
            </div>
        </div>

        <!-- </overlay-scrollbars> -->
        <!-- </ng-scrollbar> -->
    </div>
</div>
