@if (isEditMode) {
<app-content-header
    [pageTitle]="'label.detail' | translate"
    [breadcrumbs]="breadcrumbsDetail"></app-content-header>
} @else {
<app-content-header
    [pageTitle]="'label.create' | translate"
    [breadcrumbs]="breadcrumbsCreate"></app-content-header>
}
<div class="card">
    <div class="card-body">
        <form
            [formGroup]="form"
            (ngSubmit)="onSave()">
            <div class="action-box">
                <div class="btns-box">
                    @if (!isEditMode || (isAdmin && !isSendRequest)) {
                    <button
                        class="btn btn-primary"
                        type="submit">
                        <i class="mr-2 fa fa-save"></i>{{ 'label.save' | translate }}
                    </button>
                    } @if (isAdmin && !isSendRequest) {
                    <button
                        (click)="onCancel()"
                        class="btn btn-primary"
                        type="button">
                        <i class="mr-2 fa-solid fa-clock-rotate-left"></i>
                        {{ 'label.revoke' | translate }}
                    </button>
                    <button
                        (click)="onSendApproval()"
                        class="btn btn-primary"
                        type="button">
                        <i class="mr-2 fa-solid fa-arrow-right-arrow-left"></i>
                        {{ 'label.forward' | translate }}
                    </button>
                    } @if (isApproval && isSendRequest) {
                    <button
                        (click)="onApproval()"
                        class="btn btn-primary"
                        type="button">
                        <i class="mr-2 fa-solid fa-check"></i>
                        {{ 'label.approval' | translate }}
                    </button>
                    <button
                        (click)="onReject()"
                        class="btn btn-primary"
                        type="button">
                        <i class="mr-2 fa-solid fa-ban"></i>
                        {{ 'label.reject' | translate }}
                    </button>
                    }
                    <button
                        class="btn btn-primary"
                        type="button"
                        (click)="onGoBack()">
                        <i class="mr-2 fa-solid fa-xmark"></i>{{ 'label.close' | translate }}
                    </button>
                </div>
            </div>
            <!-- /.action -->
            @if (Lib.isValidArrayData(validator.errors)) {
            <div class="row">
                <div class="col-12">
                    <app-form-errors [errors]="validator.errors"></app-form-errors>
                </div>
            </div>
            }
            <div class="table-responsive">
                <table class="table table-bordered table-head-fixed table-form">
                    <tbody>
                        <tr>
                            <td
                                class="w-110 header-cell bg-blue"
                                rowspan="2">
                                {{ 'label.basic_infomation' | translate }}
                            </td>
                            <td
                                class="label-cell bg-dark-blue"
                                [ngClass]="isRequired ? 'required' : ''">
                                <span>{{ 'label.group_name' | translate }}</span>
                            </td>
                            <td colspan="2">
                                <input
                                    formControlName="group_name"
                                    type="text"
                                    class="full-width form-control" />
                            </td>
                        </tr>
                        <!-- /.group name -->
                        <tr>
                            <td
                                class="label-cell bg-dark-blue"
                                [ngClass]="isRequired ? 'required' : ''">
                                <span>{{ 'label.description' | translate }}</span>
                            </td>
                            <td colspan="2">
                                <input
                                    formControlName="description"
                                    type="text"
                                    class="full-width form-control" />
                            </td>
                        </tr>
                        <!-- /.description -->
                        @for (item of memberList; track index; let index = $index; let first = $first) {
                        <tr>
                            @if (first) {
                            <td
                                class="header-cell bg-midnight-blue"
                                [ngClass]="isRequired ? 'required' : ''"
                                [attr.rowspan]="memberList.length">
                                <span>{{ 'label.member' | translate }}</span>
                                @if (!isEditMode || (isAdmin && !isSendRequest)) {
                                <div class="text-center">
                                    <button
                                        (click)="onAddMember()"
                                        class="btn bg-blue"
                                        type="button">
                                        {{ 'label.add' | translate }}
                                    </button>
                                </div>
                                }
                            </td>
                            }
                            <td class="label-cell bg-dark-blue text-center">{{ index + 1 }}</td>
                            <td colspan="2">
                                <div class="d-flex justify-content-between">
                                    <div>
                                        @if (!isEditMode || (isAdmin && !isSendRequest)) {
                                        <button
                                            (click)="onSelectUser(index)"
                                            class="btn bg-blue"
                                            type="button">
                                            {{ 'label.select' | translate }}
                                        </button>
                                        }
                                        <span class="ml-2">{{ item.user_full_name }}</span>
                                    </div>
                                    @if (!isEditMode || (isAdmin && !isSendRequest)) {
                                    <button
                                        (click)="onDeleteMember(index)"
                                        class="btn btn-danger"
                                        type="button">
                                        <i class="fas fa-trash-alt mr-2"></i>
                                        {{ 'label.delete' | translate }}
                                    </button>
                                    }
                                </div>
                            </td>
                        </tr>
                        }
                        <!-- /.member -->

                        <tr>
                            <td
                                class="w-110 header-cell bg-blue"
                                rowspan="5">
                                {{ 'label.approval' | translate }}
                            </td>
                            <td class="label-cell bg-dark-blue">
                                {{ 'label.forward_proposer' | translate }}
                            </td>
                            <td class="bg-bady-blue w-350">
                                {{ groupInfo?.request_user_name }}
                            </td>
                            <td class="bg-bady-blue minw-350">
                                {{ groupInfo?.request_date }}
                            </td>
                        </tr>
                        <!-- /.forward -->
                        <tr>
                            <td
                                rowspan="2"
                                class="label-cell bg-dark-blue">
                                {{ 'label.approval1' | translate }}
                            </td>
                            <td class="bg-bady-blue">
                                {{ groupInfo?.approval1_user_name }}
                            </td>
                            <!-- /.approval user1 -->
                            <td
                                rowspan="2"
                                class="bg-bady-blue">
                                {{ groupInfo?.approval1_comment }}
                            </td>
                            <!-- /.comment1 -->
                        </tr>
                        <tr>
                            <td class="bg-bady-blue">
                                {{ groupInfo?.approval1_date }}
                            </td>
                            <!-- /.approval datetime1 -->
                        </tr>
                        <tr>
                            <td
                                rowspan="2"
                                class="label-cell bg-dark-blue">
                                {{ 'label.approval2' | translate }}
                            </td>
                            <td class="bg-bady-blue">
                                {{ groupInfo?.approval2_user_name }}
                            </td>
                            <!-- /.approval user2 -->
                            <td
                                rowspan="2"
                                class="bg-bady-blue">
                                {{ groupInfo?.approval2_comment }}
                            </td>
                            <!-- /.comment2 -->
                        </tr>
                        <tr>
                            <td class="bg-bady-blue">
                                {{ groupInfo?.approval2_date }}
                            </td>
                            <!-- /.approval datetime2 -->
                        </tr>

                        <tr>
                            <td
                                class="header-cell bg-midnight-blue"
                                rowspan="2">
                                {{ 'label.management' | translate }}
                            </td>
                            <td class="label-cell bg-dark-blue">
                                {{ 'label.group_registration_date' | translate }}
                            </td>
                            <td
                                class="bg-bady-blue"
                                colspan="2">
                                {{ groupInfo?.group_add_date }}
                            </td>
                        </tr>
                        <!-- /.register date -->
                        <tr>
                            <td class="label-cell bg-dark-blue">
                                {{ 'label.group_update_date' | translate }}
                            </td>
                            <td
                                class="bg-bady-blue"
                                colspan="2">
                                {{ groupInfo?.group_update_date }}
                            </td>
                        </tr>
                        <!-- /.update date -->
                    </tbody>
                </table>
                <!-- /.table -->
            </div>
        </form>
    </div>
</div>
