<div class="chat d-flex flex-column">
    <div class="header-chat flex-shrink-0 shadow p-2 bg-blue">
        <div>{{'label.subject' | translate}}：{{noticeInfo?.subject}}</div>
        <div>{{"label.occurrence_date" | translate}}：{{noticeInfo?.event_date}}</div>
        <div>{{"label.phenomenon" | translate}}：{{noticeInfo?.detail}}</div>
    </div>
    <div
        #messageBox
        class="content-chat flex-fill d-flex flex-column"
        infiniteScroll
        (scrolledUp)="onLoadMoreMessage($event)"
        [infiniteScrollUpDistance]="0.5"
        [infiniteScrollThrottle]="50"
        [scrollWindow]="false"
    >
        @for (item of messageList; track item) {
        <div class="message-box" [class.author]="item.is_author">
            <div class="message">
                {{ item.content }}
            </div>
            <div class="time">{{ item.add_datetime | date : "hh:mm" }}</div>
        </div>
        }
    </div>
    <div class="control-box flex-shrink-0 d-flex p-2 align-items-end">
        <a>
            <i class="fa-solid fa-plus"></i>
        </a>
        <a>
            <i class="fa-solid fa-camera"></i>
        </a>
        <a>
            <i class="fa-regular fa-image"></i>
        </a>
        <form class="full-width" [formGroup]="messageForm">
            <div class="input-message-box">
                <textarea
                    (keydown.enter)="$event.preventDefault()"
                    (keyup.enter)="onSend()"
                    formControlName="message"
                    class="input-message"
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="3"
                ></textarea>
            </div>
        </form>
        <a (click)="onSend()">
            <i class="fa-regular fa-paper-plane"></i>
        </a>
    </div>
</div>
