<div class="modal-header">
    <button
        class="btn btn-primary"
        type="button"
    >
        <i class="fa-solid fa-file-csv mr-2"></i
        >{{ "label.csv" | translate }}
    </button>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="position-relative alarm-history-modal">
        <div class="chart-box">
            <div class="d-flex justify-content-between">
                <div class="cursor-pointer px-2" (click)="onAlertPrevious()">
                    <i class="fa-solid fa-angle-left"></i>
                </div>
                <span class="">{{'label.number_occurrences' | translate}}</span>
                <div class="cursor-pointer px-2" (click)="onAlertNext()">
                    <i class="fa-solid fa-angle-right"></i>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <canvas baseChart [data]="alertChartData" [options]="alertChartOptions" [type]="'bar'"
                    [style]="'width: 100%'"
                >
                </canvas>
            </div>
        </div>
        <div class="select-date-type">
            <ng-select
                [items]="dateTypeList"
                [(ngModel)]="dateType"
                (change)="onChangeDateType()"
                [bindLabel]="'name'"
                [bindValue]="'id'"
                [notFoundText]="
                    'message.no_data' | translate
                "
                [clearable]="false"
            ></ng-select>
        </div>
    </div>
</div>
