<app-content-header
    [pageTitle]="'label.construction_info_dissemination_management' | translate"
    [breadcrumbs]="
        'label.construction_info_dissemination_management' | translate
    "
></app-content-header>
<fieldset class="search-box">
    <legend>{{ "label.search" | translate }}</legend>
    <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <input
                        type="text"
                        class="form-control"
                        formControlName="keyword"
                        placeholder="{{ 'label.keyword' | translate }}"
                    />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center">
                <button
                    class="btn btn-danger mr-2"
                    type="button"
                    (click)="onResetSearch()"
                >
                    <i class="fa fa-eraser mr-2"></i
                    >{{ "label.reset" | translate }}
                </button>
                <button class="btn btn-primary" type="submit">
                    <i class="fa fa-search mr-2"></i
                    >{{ "label.search" | translate }}
                </button>
            </div>
        </div>
    </form>
</fieldset>
<div class="action-box">
    <div class="row column-reverse">
        <div class="col align-self-end">
            {{ "label.search_result_count" | translate }}:
            <span class="search-result-total-count"
                >{{ searchResultCount }}{{ "label.record" | translate }}</span
            >
        </div>
        <div class="col-auto btns-box">
            <button
                class="btn btn-primary"
                type="button"
                [routerLink]="'create'"
            >
                <i class="fa fa-plus mr-2"></i>{{ "label.add" | translate }}
            </button>
            <button class="btn btn-primary" type="button">
                <i class="fa-solid fa-file-csv mr-2"></i
                    >{{ "label.csv" | translate }}
            </button>
            <button class="btn btn-primary" type="button" (click)="onGoBack()">
                <i class="mr-2 fa-solid fa-xmark"></i
                >{{ "label.close" | translate }}
            </button>
        </div>
    </div>
</div>
<!-- /.action-box -->
<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table
                tableFilter
                [filterData]="constructionTable?.filter_table"
                class="table table-bordered table-head-fixed"
            >
                <thead>
                    <tr>
                        <th columnFilterName="construction_date" class="w-180">
                            {{ "label.construction_date" | translate }}
                        </th>
                        <th columnFilterName="control_number" class="w-110">
                            {{ "label.control_number" | translate }}
                        </th>
                        <th columnFilterName="construction_plan_name" class="minw-200">
                            {{ "label.construction_plan_name" | translate }}
                        </th>
                        <th columnFilterName="plan_classification" class="w-180">
                            {{ "label.plan_classification" | translate }}
                        </th>
                        <th columnFilterName="individual_construction_case_name" class="w-180">
                            {{
                                "label.individual_construction_case_name"
                                    | translate
                            }}
                        </th>
                        <th columnFilterName="construction_type" class="w-180">
                            {{ "label.construction_type" | translate }}
                        </th>
                        <th columnFilterName="office" class="w-180">{{ "label.office" | translate }}</th>
                        <th columnFilterName="target_building" class="w-180">
                            {{ "label.target_building" | translate }}
                        </th>
                        <th columnFilterName="location_details" class="w-180">
                            {{ "label.location_details" | translate }}
                        </th>
                        <th columnFilterName="dynamic_influence" class="w-180">
                            {{ "label.dynamic_influence" | translate }}
                        </th>
                        <th columnFilterName="sensor_false_alarm_response" class="w-180">
                            {{
                                "label.sensor_false_alarm_response" | translate
                            }}
                        </th>
                        <th columnFilterName="admission_procedure" class="w-180">
                            {{ "label.admission_procedure" | translate }}
                        </th>
                        <th columnFilterName="traffic_work_area_regulations" class="w-180">
                            {{
                                "label.traffic_work_area_regulations"
                                    | translate
                            }}
                        </th>
                        <th columnFilterName="risk_response" class="w-180">
                            {{ "label.risk_response" | translate }}
                        </th>
                        <th columnFilterName="number_of_people" class="w-180">
                            {{ "label.number_of_people" | translate }}
                        </th>
                        <th columnFilterName="completed_notification" class="w-180">
                            {{ "label.completed_notification" | translate }}
                        </th>
                        <th columnFilterName="status" class="w-180">{{ "label.status" | translate }}</th>
                        <th columnFilterName="date_of_issuance" class="w-180">
                            {{ "label.date_of_issuance" | translate }}
                        </th>
                        <th columnFilterName="close_datetime" class="w-180">
                            {{ "label.close_date" | translate }}
                        </th>
                    </tr>
                </thead>
                @if (Lib.isValidArrayData(constructionTable?.data_source)) {
                <tbody>
                    @for (item of constructionTable?.data_source; track $index)
                    {
                    <tr>
                        <td>{{ item.construction_date }}</td>
                        <td>{{ item.control_number }}</td>
                        <td>
                            {{ item.construction_plan_name }}
                        </td>
                        <td>{{ item.plan_classification }}</td>
                        <td>
                            <a
                                class="blue d-inline"
                                (click)="onDetail(item.id)"
                            >
                                <span>{{ item.individual_construction_case_name }}</span>
                            </a>
                        </td>
                        <td>{{ item.construction_type }}</td>
                        <td>{{ item.office_name }}</td>
                        <td>{{ item.target_building }}</td>
                        <td>{{ item.location_details }}</td>
                        <td>{{ item.dynamic_influence }}</td>
                        <td>{{ item.sensor_false_alarm_response }}</td>
                        <td>{{ item.admission_procedure }}</td>
                        <td>{{ item.traffic_work_area_regulations }}</td>
                        <td>{{ item.risk_response }}</td>
                        <td>{{ item.number_of_people }}</td>
                        <td>{{ item.completed_notification }}</td>
                        <td>{{ item.status }}</td>
                        <td>{{ item.date_of_issuance }}</td>
                        <td>{{ item.close_datetime }}</td>
                    </tr>
                    }
                </tbody>
                } @else {
                <tfoot>
                    <tr>
                        <td colspan="19">
                            {{ "message.no_data" | translate }}
                        </td>
                    </tr>
                </tfoot>
                }
            </table>
        </div>
        <!-- /.table-responsive -->
        <app-pagination
            [page]="currentPage"
            [totalRow]="searchResultCount"
            (changePage)="onPaginationChange($event)"
        >
        </app-pagination>
    </div>
</div>
